Repository bencan1a/9boxer: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-workflow-yaml, validate-translations

check-workflow-yaml:
  name: check workflow YAML syntax
  entry: python
  language: system
  args:
  - -c
  - import yaml; import sys; from pathlib import Path; [yaml.safe_load(f.read_text(encoding='utf-8')) for f in Path('.github/workflows').glob('*.yml')]
  pass_filenames: false

validate-translations:
  name: validate i18n translation files
  entry: python tools/validate-translations.py
  language: system
  pass_filenames: true

Update frontend/src/i18n/locales/fr/translation.json
  frontend/src/i18n/locales/fr/translation.json
Due: validate-translations

Update frontend/src/i18n/locales/cs/translation.json
  frontend/src/i18n/locales/cs/translation.json
Due: validate-translations

fix: track net change from original position instead of incremental moves
  backend/src/ninebox/services/session_manager.py
  backend/tests/unit/services/test_session_manager.py
Due: none

fix: update npm ci command to use --legacy-peer-deps across workflows
  .github/workflows/build-electron.yml
  .github/workflows/ci.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/pr.yml
  .github/workflows/screenshots.yml
  .github/workflows/visual-regression.yml
  .github/workflows/weekly.yml
Due: check-workflow-yaml

fix: add wait for app initialization and button visibility in upload flow
  frontend/playwright/e2e/zoom-flow.spec.ts
  frontend/playwright/helpers/upload.ts
Due: none

Update frontend/src/components/panel/ManagementChain.tsx
  frontend/src/components/panel/ManagementChain.tsx
Due: none

Update frontend/src/components/intelligence/DistributionHeatmap.tsx
  frontend/src/components/intelligence/DistributionHeatmap.tsx
Due: none

fix: update comments for clarity on event architecture and net changes in employee moves
  .github/workflows/visual-regression.yml
  backend/tests/unit/api/test_session.py
  backend/tests/unit/services/test_session_manager.py
Due: check-workflow-yaml

test: update visual snapshots for employee tile and grid box components
  frontend/playwright/visual/employee-tile.spec.ts-snapshots/employee-tile-donut-modified-dark-visual-win32.png
  frontend/playwright/visual/employee-tile.spec.ts-snapshots/employee-tile-donut-modified-light-visual-win32.png
  frontend/playwright/visual/employee-tile.spec.ts-snapshots/employee-tile-low-performer-dark-visual-win32.png
  frontend/playwright/visual/employee-tile.spec.ts-snapshots/employee-tile-low-performer-light-visual-win32.png
  frontend/playwright/visual/employee-tile.spec.ts-snapshots/employee-tile-with-all-fields-dark-visual-win32.png
  frontend/playwright/visual/employee-tile.spec.ts-snapshots/employee-tile-with-all-fields-light-visual-win32.png
  frontend/playwright/visual/employee-tile.spec.ts-snapshots/employee-tile-with-flags-dark-visual-win32.png
  frontend/playwright/visual/employee-tile.spec.ts-snapshots/employee-tile-with-flags-light-visual-win32.png
  frontend/playwright/visual/grid-box.spec.ts-snapshots/grid-box-needs-attention-dark-visual-win32.png
  frontend/playwright/visual/grid-box.spec.ts-snapshots/grid-box-needs-attention-light-visual-win32.png
Due: none

feat: add workflow for updating visual regression baselines
  .github/workflows/update-visual-baselines.yml
Due: check-workflow-yaml

fix: update baseline update reason input to be optional and add default value
  .github/workflows/update-visual-baselines.yml
  .github/workflows/visual-regression.yml
Due: check-workflow-yaml

chore: mark 6 completed agent projects as done
  agent-projects/backend-robustness/plan.md
  agent-projects/design-system/plan.md
  agent-projects/i18n-implementation/plan.md
  agent-projects/playwright-performance/plan.md
  agent-projects/screenshot-generator-fixes/plan.md
  agent-projects/view-controls-consolidation/plan.md
  frontend/playwright/screenshots/config.ts
  frontend/playwright/screenshots/workflows/filters-storybook.ts
  frontend/src/components/dashboard/FilterDrawer.stories.tsx
  frontend/src/components/dashboard/FilterDrawer.tsx
  frontend/src/components/dashboard/filters/ExclusionList.stories.tsx
  frontend/src/components/dashboard/filters/ExclusionList.test.tsx
  frontend/src/components/dashboard/filters/ExclusionList.tsx
  frontend/src/components/dashboard/filters/FilterSection.stories.tsx
  frontend/src/components/dashboard/filters/FilterSection.test.tsx
  frontend/src/components/dashboard/filters/FilterSection.tsx
  frontend/src/components/dashboard/filters/FlagFilters.stories.tsx
  frontend/src/components/dashboard/filters/FlagFilters.test.tsx
  frontend/src/components/dashboard/filters/FlagFilters.tsx
  frontend/src/components/dashboard/filters/GridPositionFilter.stories.tsx
  frontend/src/components/dashboard/filters/GridPositionFilter.test.tsx
  frontend/src/components/dashboard/filters/GridPositionFilter.tsx
  frontend/src/components/dashboard/filters/ReportingChainFilter.stories.tsx
  frontend/src/components/dashboard/filters/ReportingChainFilter.test.tsx
  frontend/src/components/dashboard/filters/ReportingChainFilter.tsx
  frontend/src/components/dashboard/filters/index.ts
  frontend/src/components/intelligence/DistributionHeatmap.tsx
  frontend/src/i18n/locales/en/translation.json
  resources/user-guide/docs/filters.md
  resources/user-guide/docs/images/screenshots/details-panel/flag-filtering.png
  resources/user-guide/docs/images/screenshots/details-panel/reporting-chain-filter-active.png
  resources/user-guide/docs/images/screenshots/filters/filters-multiple-active.png
  resources/user-guide/docs/images/screenshots/filters/filters-overview.png
Due: validate-translations

feat: Comprehensive FilterDrawer componentization with Storybook integration
  agent-tmp/README.md
  frontend/playwright/screenshots/workflows/details-panel-enhancements.ts
  frontend/playwright/screenshots/workflows/view-controls.ts
Due: none

feat: Add new screenshots for Details Panel and ViewControls documentation
  resources/user-guide/docs/images/screenshots/details-panel/current-assessment-enhanced.png
  resources/user-guide/docs/images/screenshots/details-panel/reporting-chain-clickable.png
  resources/user-guide/docs/images/screenshots/view-controls/settings-dialog.png
Due: none

feat: Enhance development environment with new cleanup scripts and debugging configurations
  .vscode/launch.json
  .vscode/tasks.json
  frontend/electron/main/index.ts
  tools/cleanup-dev-processes.bat
  tools/cleanup-dev-processes.ps1
  tools/cleanup-dev-processes.sh
Due: none

fix: Correct path for Playwright configuration in visual regression workflow
  .github/workflows/visual-regression.yml
Due: check-workflow-yaml

Path conditions:
  check-workflow-yaml: any of: ^\.github/workflows/.*\.yml$
  validate-translations: any of: ^frontend/src/i18n/locales/.*/translation\.json$
