Repository bencan1a/9boxer: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-workflow-yaml, validate-translations, prettier-frontend, eslint-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# This configuration matches the CI checks in .github/workflows/ci.yml
# All checks here must pass before commits are allowed.
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$  # Exclude mkdocs.yml (has custom YAML tags)
      - id: check-toml
      - id: check-json
        exclude: ^frontend/tsconfig.*\.json$  # Exclude tsconfig.json (allows comments)
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key

  # Ruff linting - matches CI: make lint (ruff check .)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        name: ruff lint
        args: [--exit-non-zero-on-fix]
        # Note: We don't use --fix here to ensure developers see what would fail in CI

  # Ruff formatting - matches CI: make format-check (ruff format --check .)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff-format
        name: ruff format check

  # Type checking - matches CI: make type-check (mypy backend/src/ .github/scripts/)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        name: mypy type check
        files: ^(backend/src/|\.github/scripts/)
        additional_dependencies: [
          types-requests,
          pandas-stubs,
          types-openpyxl,
          pydantic>=2.0,
        ]

  # Security scanning - matches CI: make security (bandit -r backend/src/ .github/scripts/ -s B404,B603,B607)
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        name: bandit security scan
        args: [-s, B404,B603,B607]
        files: ^(backend/src/|\.github/scripts/)

  # YAML validation - matches CI: make check-yaml
  - repo: local
    hooks:
      - id: check-workflow-yaml
        name: check workflow YAML syntax
        entry: python
        language: system
        args: [-c, "import yaml; import sys; from pathlib import Path; [yaml.safe_load(f.read_text(encoding='utf-8')) for f in Path('.github/workflows').glob('*.yml')]"]
        files: ^\.github/workflows/.*\.yml$
        pass_filenames: false

      # i18n translation validation - validates JSON syntax, key parity, structure, and placeholders
      - id: validate-translations
        name: validate i18n translation files
        entry: python tools/validate-translations.py
        language: system
        files: ^frontend/src/i18n/locales/.*/translation\.json$
        pass_filenames: true

  # Prettier formatting for frontend files (local hook for ARM64 compatibility)
  - repo: local
    hooks:
      - id: prettier-frontend
        name: format frontend files with prettier
        entry: bash tools/run-prettier.sh
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        exclude: ^frontend/(node_modules|dist|dist-electron|build|release|coverage|package-lock\.json|tsconfig.*\.json)/
        pass_filenames: true

      # ESLint for frontend TypeScript/JavaScript files
      - id: eslint-frontend
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        types_or: [ts, tsx, javascript, jsx]
        files: ^frontend/
        exclude: ^frontend/(node_modules|dist|dist-electron|build|release|coverage)/
        pass_filenames: false

feat: add weekly AI architectural review workflow
  .github/scripts/ai-arch-review.js
  .github/workflows/arch-review.yml
  CLAUDE.md
Due: check-workflow-yaml

fix: correct git diff commands and increase significance threshold
  .github/scripts/ai-arch-review.js
  .github/workflows/arch-review.yml
Due: check-workflow-yaml

feat: add significant architectural events tracking
  .github/scripts/ai-arch-review.js
Due: none

fix: escape backticks in prompt template literal
  .github/scripts/ai-arch-review.js
Due: none

feat: improve JSON error handling and formatting guidance
  .github/scripts/ai-arch-review.js
  agent-projects/screenshot-storybook-migration/BLOCKER_changes-employee-details.md
  agent-projects/screenshot-storybook-migration/PHASE_4_SUMMARY.md
  frontend/playwright/screenshots/config.ts
  frontend/playwright/screenshots/workflows/details-panel-enhancements.ts
  frontend/playwright/screenshots/workflows/filters-storybook.ts
  frontend/playwright/screenshots/workflows/storybook-components.ts
  frontend/src/components/panel/EmployeeDetails.stories.tsx
Due: prettier-frontend, eslint-frontend

feat: simplify JSON output to avoid escaping issues
  .github/scripts/ai-arch-review.js
Due: none

feat: add new screenshots and update talent calibration documentation
  resources/user-guide/docs/images/screenshots/changes-panel-entries.png
  resources/user-guide/docs/images/screenshots/details-panel/current-assessment-enhanced.png
  resources/user-guide/docs/images/screenshots/details-panel/flag-badges.png
  resources/user-guide/docs/images/screenshots/distribution-chart-ideal.png
  resources/user-guide/docs/images/screenshots/donut/donut-mode-active-layout.png
  resources/user-guide/docs/images/screenshots/employee-details-panel-expanded.png
  resources/user-guide/docs/images/screenshots/employee-tile-normal.png
  resources/user-guide/docs/images/screenshots/file-menu-apply-changes.png
  resources/user-guide/docs/images/screenshots/filters/filters-clear-all-button.png
  resources/user-guide/docs/images/screenshots/filters/filters-panel-expanded.png
  resources/user-guide/docs/images/screenshots/filters/flags-section.png
  resources/user-guide/docs/images/screenshots/grid-normal.png
  resources/user-guide/docs/images/screenshots/quickstart/quickstart-file-menu-button.png
  resources/user-guide/docs/images/screenshots/quickstart/quickstart-grid-populated.png
  resources/user-guide/docs/images/screenshots/quickstart/quickstart-upload-dialog.png
  resources/user-guide/docs/images/screenshots/statistics/statistics-panel-distribution.png
  resources/user-guide/docs/images/screenshots/statistics/statistics-trend-indicators.png
  resources/user-guide/docs/images/screenshots/timeline-employee-history.png
  resources/user-guide/docs/images/screenshots/view-controls/main-interface.png
  resources/user-guide/docs/images/screenshots/view-controls/settings-dialog.png
  resources/user-guide/docs/images/screenshots/view-controls/simplified-appbar.png
  resources/user-guide/docs/images/screenshots/view-controls/view-controls-donut.png
  resources/user-guide/docs/images/screenshots/view-controls/view-controls-grid.png
  resources/user-guide/docs/images/screenshots/workflow/calibration-file-import.png
  resources/user-guide/docs/images/screenshots/workflow/calibration-filters-panel.png
  resources/user-guide/docs/images/screenshots/workflow/calibration-statistics-red-flags.png
  resources/user-guide/docs/images/screenshots/workflow/intelligence-anomaly-details.png
  resources/user-guide/docs/images/screenshots/workflow/intelligence-summary-anomalies.png
  resources/user-guide/docs/images/screenshots/workflow/making-changes-orange-border.png
  resources/user-guide/docs/images/screenshots/workflow/workflow-changes-add-note.png
  resources/user-guide/docs/workflows/talent-calibration.md
Due: none

fix(screenshots): resolve changes-employee-details import error with relative paths
  frontend/src/components/panel/EmployeeDetails.stories.tsx
Due: prettier-frontend, eslint-frontend

feat: add consistency and prioritization to arch review
  .github/scripts/ai-arch-review.js
Due: none

docs(screenshots): update Phase 4 summary - blocker resolved, 7/10 complete
  agent-projects/screenshot-storybook-migration/BLOCKER_changes-employee-details.md
  agent-projects/screenshot-storybook-migration/PHASE_4_SUMMARY.md
Due: none

feat: add historical context and remove finding limits
  .github/scripts/ai-arch-review.js
Due: none

docs: update arch-review.yml documentation with new features
  CLAUDE.md
  frontend/src/components/dialogs/ApplyChangesDialog.stories.tsx
  frontend/src/components/dialogs/ApplyChangesDialog.test.tsx
  frontend/src/components/dialogs/ApplyChangesDialog.tsx
  frontend/src/components/dialogs/index.ts
Due: prettier-frontend, eslint-frontend

docs: update screenshot coverage report [skip ci]
  .screenshot-coverage-badge.json
  .screenshot-coverage-report.json
  .screenshot-coverage-report.md
Due: none

fix: include flags and reporting chain filters in tooltip
  frontend/src/components/dashboard/AppBarContainer.tsx
Due: prettier-frontend, eslint-frontend

fix: restore missing employee tile attributes and unify drag/rest layouts
  frontend/src/components/grid/EmployeeTile.tsx
  frontend/src/components/grid/NineBoxGrid.tsx
Due: prettier-frontend, eslint-frontend

feat: add file size validation to upload endpoint (closes #108)
  backend/src/ninebox/api/session.py
  backend/tests/unit/api/test_request_validation.py
Due: none

fix: restore recent files display in file menu
  frontend/src/components/dashboard/PureAppBar.tsx
Due: prettier-frontend, eslint-frontend

docs: transform quickstart into 5-7 minute guided tour (closes #104)
  frontend/playwright/screenshots/config.ts
  frontend/playwright/screenshots/workflows/storybook-components.ts
  resources/user-guide/docs/images/screenshots/quickstart/quickstart-employee-details-with-history.png
  resources/user-guide/docs/images/screenshots/quickstart/quickstart-empty-state-sample-button.png
  resources/user-guide/docs/images/screenshots/quickstart/quickstart-file-menu-button.png
  resources/user-guide/docs/images/screenshots/quickstart/quickstart-grid-populated.png
  resources/user-guide/docs/images/screenshots/quickstart/quickstart-intelligence-bias-detected.png
  resources/user-guide/docs/images/screenshots/quickstart/quickstart-load-sample-dialog.png
  resources/user-guide/docs/images/screenshots/quickstart/quickstart-statistics-distribution.png
  resources/user-guide/docs/images/screenshots/quickstart/quickstart-timeline-history.png
  resources/user-guide/docs/quickstart.md
Due: prettier-frontend, eslint-frontend
