Repository bencan1a/9boxer: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-workflow-yaml, validate-translations, prettier-frontend, eslint-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# This configuration matches the CI checks in .github/workflows/ci.yml
# All checks here must pass before commits are allowed.
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$  # Exclude mkdocs.yml (has custom YAML tags)
      - id: check-toml
      - id: check-json
        exclude: ^frontend/tsconfig.*\.json$  # Exclude tsconfig.json (allows comments)
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key

  # Ruff linting - matches CI: make lint (ruff check .)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        name: ruff lint
        args: [--exit-non-zero-on-fix]
        # Note: We don't use --fix here to ensure developers see what would fail in CI

  # Ruff formatting - matches CI: make format-check (ruff format --check .)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff-format
        name: ruff format check

  # Type checking - matches CI: make type-check (mypy backend/src/ .github/scripts/)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        name: mypy type check
        files: ^(backend/src/|\.github/scripts/)
        additional_dependencies: [
          types-requests,
          pandas-stubs,
          types-openpyxl,
          pydantic>=2.0,
        ]

  # Security scanning - matches CI: make security (bandit -r backend/src/ .github/scripts/ -s B404,B603,B607)
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        name: bandit security scan
        args: [-s, B404,B603,B607]
        files: ^(backend/src/|\.github/scripts/)

  # YAML validation - matches CI: make check-yaml
  - repo: local
    hooks:
      - id: check-workflow-yaml
        name: check workflow YAML syntax
        entry: python
        language: system
        args: [-c, "import yaml; import sys; from pathlib import Path; [yaml.safe_load(f.read_text(encoding='utf-8')) for f in Path('.github/workflows').glob('*.yml')]"]
        files: ^\.github/workflows/.*\.yml$
        pass_filenames: false

      # i18n translation validation - validates JSON syntax, key parity, structure, and placeholders
      - id: validate-translations
        name: validate i18n translation files
        entry: python tools/validate-translations.py
        language: system
        files: ^frontend/src/i18n/locales/.*/translation\.json$
        pass_filenames: true

  # Prettier formatting for frontend files (local hook for ARM64 compatibility)
  - repo: local
    hooks:
      - id: prettier-frontend
        name: format frontend files with prettier
        entry: bash tools/run-prettier.sh
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        exclude: ^frontend/(node_modules|dist|dist-electron|build|release|coverage|package-lock\.json|tsconfig.*\.json)/
        pass_filenames: true

      # ESLint for frontend TypeScript/JavaScript files
      - id: eslint-frontend
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        types_or: [ts, tsx, javascript, jsx]
        files: ^frontend/
        exclude: ^frontend/(node_modules|dist|dist-electron|build|release|coverage)/
        pass_filenames: false

i18n: add translation support for empty state and sample data dialogs
  frontend/src/components/EmptyState.tsx
  frontend/src/components/common/ConfirmDialog.tsx
  frontend/src/components/dashboard/FileMenuButton.tsx
  frontend/src/components/dialogs/LoadSampleDialog.tsx
  frontend/src/i18n/locales/cs/translation.json
  frontend/src/i18n/locales/de/translation.json
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/es/translation.json
  frontend/src/i18n/locales/fr/translation.json
  frontend/src/i18n/locales/hi/translation.json
  frontend/src/i18n/locales/ja/translation.json
Due: validate-translations, prettier-frontend, eslint-frontend

fix(e2e): resolve environment issues and complete e2e-core test suite
  frontend/playwright.config.ts
  frontend/playwright/e2e-core/01-data-loading.spec.ts
  frontend/playwright/e2e-core/02-employee-selection.spec.ts
  frontend/playwright/e2e-core/04-filtering.spec.ts
  frontend/playwright/e2e-core/05-donut-mode.spec.ts
  frontend/playwright/e2e-core/06-export.spec.ts
  frontend/playwright/e2e-core/07-panel-interactions.spec.ts
  frontend/playwright/e2e-core/08-empty-state.spec.ts
  frontend/playwright/e2e-core/09-grid-expansion.spec.ts
  frontend/playwright/e2e-core/10-language-switching.spec.ts
  frontend/playwright/e2e-core/11-zoom-controls.spec.ts
  frontend/playwright/e2e-core/12-statistics-accuracy.spec.ts
  frontend/playwright/helpers/changeTracking.ts
  frontend/playwright/helpers/dragAndDrop.ts
  frontend/playwright/helpers/exportValidation.ts
  frontend/playwright/helpers/filters.ts
  frontend/playwright/helpers/flags.ts
  frontend/playwright/helpers/index.ts
  frontend/playwright/helpers/panelInteractions.ts
  frontend/playwright/helpers/settings.ts
  frontend/playwright/helpers/statistics.ts
  frontend/playwright/helpers/zoom.ts
  internal-docs/testing/README.md
  internal-docs/testing/playwright-best-practices-checklist.md
  internal-docs/testing/quick-reference.md
  internal-docs/testing/test-principles.md
Due: prettier-frontend, eslint-frontend

feat: implement GridZoomContext and adjust tile sizing
  frontend/src/components/common/ViewControls.tsx
  frontend/src/components/common/ZoomControls.tsx
  frontend/src/components/common/__tests__/ViewControls.test.tsx
  frontend/src/components/common/__tests__/ZoomControls.test.tsx
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/grid/EmployeeTile.tsx
  frontend/src/components/grid/EmployeeTileList.tsx
  frontend/src/components/grid/__tests__/EmployeeTile.test.tsx
  frontend/src/components/grid/__tests__/EmployeeTileList.test.tsx
  frontend/src/contexts/GridZoomContext.tsx
  frontend/src/contexts/__tests__/GridZoomContext.test.tsx
  frontend/src/services/zoomService.ts
  frontend/src/test/utils.tsx
  frontend/src/theme/tokens.ts
Due: prettier-frontend, eslint-frontend

docs: implement automated design token system with theme toggle fix
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/generate-docs-tokens.ts
  mkdocs.yml
  resources/user-guide/docs/images/logo.png
  resources/user-guide/docs/stylesheets/design-tokens.css
  resources/user-guide/docs/stylesheets/extra.css
  tools/README.md
  tools/generate-docs-tokens-hook.sh
Due: prettier-frontend, eslint-frontend

fix: resolve ESLint errors and clean up test files
  backend/tests/integration/conftest.py
  backend/tests/integration/test_end_to_end_persistence.py
  backend/tests/integration/test_export_fallback_flow.py
  backend/tests/unit/api/test_session.py
  backend/tests/unit/api/test_session_export_modes.py
  e2e-core-expansion-plan.md
  frontend/playwright/e2e-core/01-data-loading.spec.ts
  frontend/playwright/e2e-core/03-making-changes.spec.ts
  frontend/playwright/e2e-core/04-filtering.spec.ts
  frontend/playwright/e2e-core/05-donut-mode.spec.ts
  frontend/playwright/e2e-core/06-export.spec.ts
  frontend/playwright/screenshots/HOWTO.md
  frontend/playwright/screenshots/generate.ts
  frontend/playwright/screenshots/workflows/file-operations.ts
  frontend/playwright/screenshots/workflows/statistics-storybook.ts
  frontend/playwright/screenshots/workflows/view-controls.ts
  pyproject.toml
Due: prettier-frontend, eslint-frontend

docs: add mermaid.js library for diagram rendering
  resources/user-guide/docs/javascripts/mermaid-init.js
  resources/user-guide/docs/javascripts/mermaid.min.js
Due: none

fix: adjust viewport size and wait time for dialog rendering in file operations
  frontend/playwright/screenshots/workflows/file-operations.ts
Due: prettier-frontend, eslint-frontend

fix: update Playwright config to limit workers and improve stability; enhance test description for clarity
  frontend/playwright.config.ts
  frontend/playwright/e2e-core/03-making-changes.spec.ts
Due: prettier-frontend, eslint-frontend

docs: update screenshot coverage report [skip ci]
  .screenshot-coverage-badge.json
  .screenshot-coverage-report.json
  .screenshot-coverage-report.md
Due: none

fix: add text overflow handling to employee name display in EmployeeTile component
  frontend/src/components/grid/EmployeeTile.tsx
Due: prettier-frontend, eslint-frontend

fix: include is_big_mover status in employee update responses
  backend/src/ninebox/api/employees.py
Due: none

feat: implement smart three-tier sorting for employees in grid boxes
  agent-projects/smart-employee-sorting/plan.md
  agent-projects/smart-employee-sorting/test-architecture-review.md
  frontend/src/components/grid/__tests__/EmployeeTileList.test.tsx
  frontend/src/hooks/useEmployees.ts
  frontend/src/utils/__tests__/sortEmployees.test.ts
  frontend/src/utils/sortEmployees.ts
  frontend/vite.config.ts
  internal-docs/testing/ARCHITECTURE.md
Due: prettier-frontend, eslint-frontend

docs: add smart sorting note to drag-and-drop workflow
  resources/user-guide/docs/workflows/making-changes.md
Due: none

chore: remove temporary i18n validation script
  check-i18n-keys.cjs
Due: none

refactor: consolidate spacing and sizing into zoom-responsive design tokens
  frontend/src/components/grid/Axis.tsx
  frontend/src/components/grid/BoxHeader.tsx
  frontend/src/components/grid/DraggedEmployeeTile.tsx
  frontend/src/components/grid/EmployeeTile.tsx
  frontend/src/components/grid/EmployeeTileList.tsx
  frontend/src/components/grid/GridBox.tsx
  frontend/src/components/grid/NineBoxGrid.tsx
  frontend/src/contexts/GridZoomContext.tsx
  frontend/src/theme/tokens.ts
  resources/user-guide/docs/stylesheets/design-tokens.css
Due: prettier-frontend, eslint-frontend

chore: establish bundle size baseline
  frontend/bundle-baseline.json
Due: prettier-frontend

feat: implement automated performance regression detection
  .github/workflows/performance-check.yml
  .pre-commit-config.yaml
  frontend/.eslintrc.cjs
  frontend/bundle-baseline.json
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/check-bundle-size.js
  internal-docs/architecture/PERFORMANCE.md
Due: check-workflow-yaml, prettier-frontend, eslint-frontend
