Repository bencan1a/9boxer: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-workflow-yaml, validate-translations

check-workflow-yaml:
  name: check workflow YAML syntax
  entry: python
  language: system
  args:
  - -c
  - import yaml; import sys; from pathlib import Path; [yaml.safe_load(f.read_text(encoding='utf-8')) for f in Path('.github/workflows').glob('*.yml')]
  pass_filenames: false

validate-translations:
  name: validate i18n translation files
  entry: python tools/validate-translations.py
  language: system
  pass_filenames: true

feat: improve minimized grid box UX for better drop target usability
  frontend/playwright/helpers/visualValidation.ts
  frontend/playwright/screenshots/workflows/changes.ts
  frontend/playwright/screenshots/workflows/filters.ts
  frontend/playwright/screenshots/workflows/notes.ts
  frontend/playwright/screenshots/workflows/quickstart.ts
  frontend/src/components/grid/GridBox.tsx
Due: none

feat: auto-select first box 5 employee on file load
  frontend/playwright/helpers/visualValidation.ts
  frontend/playwright/screenshots/config.ts
  frontend/src/store/sessionStore.ts
Due: none

feat: add zoom and full-screen controls
  agent-projects/zoom-feature/KNOWN_ISSUES.md
  agent-projects/zoom-feature/plan.md
  frontend/playwright/e2e/zoom-flow.spec.ts
  frontend/playwright/screenshots/workflows/zoom.ts
  frontend/src/components/common/ZoomControls.tsx
  frontend/src/components/common/__tests__/ZoomControls.test.tsx
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/grid/NineBoxGrid.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/es/translation.json
  frontend/src/services/zoomService.ts
  resources/user-guide/docs/images/screenshots/zoom-controls.png
  resources/user-guide/docs/tips.md
  tools/validate-translations.py
Due: validate-translations

feat: integrate i18n for localization across various components
  frontend/src/components/common/ConnectionStatus.tsx
  frontend/src/components/common/DevModeIndicator.tsx
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/components/common/FileUploadDialog.tsx
  frontend/src/components/grid/EmployeeTile.tsx
  frontend/src/components/intelligence/AnomalySection.tsx
  frontend/src/components/intelligence/DeviationChart.tsx
  frontend/src/components/intelligence/DistributionHeatmap.tsx
  frontend/src/components/intelligence/IntelligenceSummary.tsx
  frontend/src/components/intelligence/LevelDistributionChart.tsx
  frontend/src/components/panel/DistributionChart.tsx
  frontend/src/components/panel/EmployeeDetails.tsx
  frontend/src/components/panel/IntelligenceTab.tsx
  frontend/src/components/panel/ManagementChain.tsx
  frontend/src/components/panel/RatingsTimeline.tsx
  frontend/src/components/settings/SettingsDialog.tsx
  frontend/src/constants/positionLabels.ts
Due: none

feat: implement comprehensive design system foundation (Phase 1)
  CLAUDE.md
  DESIGN_SYSTEM.md
  agent-projects/design-system/plan.md
  docs/design-system/design-tokens.md
  frontend/src/theme/theme.ts
  frontend/src/theme/tokens.ts
Due: none

docs: add design principles to design system (Chunk 1/Phase 2)
  agent-projects/design-system/plan.md
  docs/design-system/design-principles.md
  frontend/playwright/fixtures/sample-employees.xlsx
  frontend/playwright/screenshots/workflows/changes.ts
  frontend/playwright/screenshots/workflows/filters.ts
  resources/user-guide/docs/filters.md
  resources/user-guide/docs/images/screenshots/workflow/making-changes-timeline.png
Due: none

docs: add component inventory to design system (Chunk 2/Phase 2)
  agent-projects/design-system/plan.md
  docs/design-system/component-inventory.md
  frontend/playwright/screenshots/workflows/notes.ts
Due: none

Update .github/workflows/copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Due: check-workflow-yaml

docs: add layout patterns documentation (Chunk 3)
  agent-projects/design-system/plan.md
  docs/design-system/layout-patterns.md
Due: none

fix(screenshots): Phase 3 documentation alignment fixes
  .pre-commit-config.yaml
Due: none

feat: add run-prettier script for ARM64 compatibility
  tools/run-prettier.sh
Due: none

feat: add temporary test file for debugging screenshot workflows
  frontend/playwright/e2e/debug-screenshot-workflow.spec.ts
Due: none

docs: add interaction patterns documentation (Chunk 4)
  agent-projects/design-system/plan.md
  docs/design-system/interaction-patterns.md
Due: none

docs: add component guidelines documentation (Chunk 5)
  agent-projects/design-system/plan.md
  docs/design-system/component-guidelines.md
Due: none

feat: add systematic screenshot maintenance workflow
  .claude/commands/new-feature.md
  .github/pull_request_template.md
  .github/workflows/ci.yml
  CONTRIBUTING.md
  frontend/package.json
  frontend/playwright/screenshots/compare.ts
Due: check-workflow-yaml

docs: add accessibility standards documentation (Chunk 6)
  agent-projects/design-system/plan.md
  docs/design-system/accessibility-standards.md
Due: none

docs: complete Quick Wins for design system
  README.md
  docs/design-system/color-palette.md
  frontend/src/components/grid/EmployeeTile.tsx
  frontend/src/components/intelligence/DistributionHeatmap.tsx
  frontend/src/components/intelligence/README.md
  frontend/src/theme/tokens.ts
Due: none

Update frontend/src/components/panel/ChangeTrackerTab.tsx
  frontend/src/components/panel/ChangeTrackerTab.tsx
Due: none

feat: complete Phase 3 tooling (Storybook + Visual Regression + Barrel Exports)
  .github/workflows/visual-regression.yml
  .gitignore
  README.md
  docs/testing/visual-regression-testing.md
  frontend/.storybook/main.ts
  frontend/.storybook/preview.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.visual.config.ts
  frontend/playwright/visual/README.md
  frontend/playwright/visual/file-upload-dialog.spec.ts
  frontend/playwright/visual/loading-spinner.spec.ts
  frontend/playwright/visual/storybook-helpers.ts
  frontend/playwright/visual/theme-test.spec.ts
  frontend/src/components/common/ConnectionStatus.stories.tsx
  frontend/src/components/common/ErrorBoundary.stories.tsx
  frontend/src/components/common/FileUploadDialog.stories.tsx
  frontend/src/components/common/LanguageSelector.stories.tsx
  frontend/src/components/common/LoadingSpinner.stories.tsx
  frontend/src/components/common/ZoomControls.stories.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/dashboard/index.ts
  frontend/src/components/grid/index.ts
  frontend/src/components/panel/index.ts
  frontend/src/components/settings/index.ts
  frontend/src/stories/ThemeTest.stories.tsx
Due: check-workflow-yaml

feat: add comprehensive Storybook coverage for grid, panel, and settings components
  frontend/src/components/grid/EmployeeTile.stories.tsx
  frontend/src/components/grid/GridBox.stories.tsx
  frontend/src/components/panel/DistributionChart.stories.tsx
  frontend/src/components/panel/EmployeeDetails.stories.tsx
  frontend/src/components/panel/ManagementChain.stories.tsx
  frontend/src/components/panel/RatingsTimeline.stories.tsx
  frontend/src/components/settings/SettingsDialog.stories.tsx
Due: none

Path conditions:
  check-workflow-yaml: any of: ^\.github/workflows/.*\.yml$
  validate-translations: any of: ^frontend/src/i18n/locales/.*/translation\.json$
