Repository bencan1a/9boxer: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-workflow-yaml, validate-translations, prettier-frontend, eslint-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# This configuration matches the CI checks in .github/workflows/ci.yml
# All checks here must pass before commits are allowed.
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$  # Exclude mkdocs.yml (has custom YAML tags)
      - id: check-toml
      - id: check-json
        exclude: ^frontend/tsconfig.*\.json$  # Exclude tsconfig.json (allows comments)
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key

  # Ruff linting - matches CI: make lint (ruff check .)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        name: ruff lint
        args: [--exit-non-zero-on-fix]
        # Note: We don't use --fix here to ensure developers see what would fail in CI

  # Ruff formatting - matches CI: make format-check (ruff format --check .)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff-format
        name: ruff format check

  # Type checking - matches CI: make type-check (mypy backend/src/ .github/scripts/)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        name: mypy type check
        files: ^(backend/src/|\.github/scripts/)
        additional_dependencies: [
          types-requests,
          pandas-stubs,
          types-openpyxl,
          pydantic>=2.0,
        ]

  # Security scanning - matches CI: make security (bandit -r backend/src/ .github/scripts/ -s B404,B603,B607)
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        name: bandit security scan
        args: [-s, B404,B603,B607]
        files: ^(backend/src/|\.github/scripts/)

  # YAML validation - matches CI: make check-yaml
  - repo: local
    hooks:
      - id: check-workflow-yaml
        name: check workflow YAML syntax
        entry: python
        language: system
        args: [-c, "import yaml; import sys; from pathlib import Path; [yaml.safe_load(f.read_text(encoding='utf-8')) for f in Path('.github/workflows').glob('*.yml')]"]
        files: ^\.github/workflows/.*\.yml$
        pass_filenames: false

      # i18n translation validation - validates JSON syntax, key parity, structure, and placeholders
      - id: validate-translations
        name: validate i18n translation files
        entry: python tools/validate-translations.py
        language: system
        files: ^frontend/src/i18n/locales/.*/translation\.json$
        pass_filenames: true

  # Prettier formatting for frontend files (local hook for ARM64 compatibility)
  - repo: local
    hooks:
      - id: prettier-frontend
        name: format frontend files with prettier
        entry: bash tools/run-prettier.sh
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        exclude: ^frontend/(node_modules|dist|dist-electron|build|release|coverage|package-lock\.json|tsconfig.*\.json)/
        pass_filenames: true

      # ESLint for frontend TypeScript/JavaScript files
      - id: eslint-frontend
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        types_or: [ts, tsx, javascript, jsx]
        files: ^frontend/
        exclude: ^frontend/(node_modules|dist|dist-electron|build|release|coverage)/
        pass_filenames: false

docs: Consolidate architecture, build & workflow docs (Issue #64)
  .github/workflows/README.md
  docs/WORKFLOWS.md
Due: none

fix: update Python interpreter path and activate environment in devcontainer
  .devcontainer/devcontainer.json
  pyproject.toml
Due: none

feat: Add weekly internal docs maintenance workflow (Issue #68)
  .github/.internal-docs-maintenance-marker
  .github/agent-tasks/internal-docs-maintenance.md
  .github/workflows/docs.yml
Due: check-workflow-yaml

docs: Clean up internal documentation structure
  CONTRIBUTING.md
  internal-docs/CHANGELOG.md
  internal-docs/CONTEXT.md
  internal-docs/README.md
  internal-docs/SUMMARY.md
  internal-docs/_generated/plans_index.md
  internal-docs/archive/2025-12-26/maintaining-user-guide.md
  internal-docs/contributing/README.md
  internal-docs/contributing/user-personas.md
Due: none

feat: implement component-screenshot metadata system (Issue #53)
  .devcontainer/devcontainer.json
  .github/SCREENSHOT_METADATA.md
  .github/component-screenshot-map.json
  .github/scripts/__tests__/extract-screenshot-metadata.test.js
  .github/scripts/__tests__/fixtures/empty-screenshots.tsx
  .github/scripts/__tests__/fixtures/invalid-annotation.tsx
  .github/scripts/__tests__/fixtures/multiple-exports.tsx
  .github/scripts/__tests__/fixtures/no-screenshots.tsx
  .github/scripts/__tests__/fixtures/valid-component.tsx
  .github/scripts/extract-screenshot-metadata.js
  .github/workflows/ci.yml
  backend/tests/performance/conftest.py
  frontend/package.json
  frontend/src/components/common/FileUploadDialog.tsx
  frontend/src/components/common/ViewControls.tsx
  frontend/src/components/common/ZoomControls.tsx
  frontend/src/components/dashboard/FilterDrawer.tsx
  frontend/src/components/dashboard/PureAppBar.tsx
  frontend/src/components/grid/EmployeeTile.tsx
  frontend/src/components/grid/NineBoxGrid.tsx
  frontend/src/components/grid/__tests__/EmployeeTile.test.tsx
  frontend/src/components/panel/ChangeTrackerTab.tsx
  frontend/src/components/panel/EmployeeDetails.tsx
  frontend/src/components/panel/EmployeeFlags.tsx
  frontend/src/components/panel/IntelligenceTab.tsx
  frontend/src/components/panel/ManagementChain.tsx
  frontend/src/components/panel/RatingsTimeline.tsx
  frontend/src/components/panel/StatisticsTab.tsx
  frontend/src/components/settings/SettingsDialog.tsx
  frontend/src/i18n/locales/es/translation.json
  package.json
  pyproject.toml
  vitest.config.js
Due: check-workflow-yaml, validate-translations, prettier-frontend, eslint-frontend

feat: implement Phase 2.2 - automated screenshot change detection (Issue #54)
  .github/scripts/detect-doc-impact.js
  .github/scripts/vitest.config.js
  .github/workflows/docs-auto-update.yml
  .gitignore
  agent-projects/self-managing-docs-system/PHASE_2_2_IMPLEMENTATION.md
  frontend/package.json
  frontend/playwright/e2e/debug-screenshot-workflow.spec.ts
  frontend/scripts/regenerate-affected-screenshots.js
  package-lock.json
Due: check-workflow-yaml, prettier-frontend, eslint-frontend

fix: configure pre-commit to use isolated Python env with pyyaml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix: improve backend startup command in documentation workflow
  .github/workflows/docs-auto-update.yml
Due: check-workflow-yaml

feat: implement AI documentation audit system (issues #57, #58)
  .github/scripts/__tests__/ai-docs-audit.test.js
  .github/scripts/ai-docs-audit.js
  .github/workflows/docs-audit.yml
  internal-docs/ai-documentation-audit.md
Due: check-workflow-yaml

fix: update datetime handling to use timezone-aware methods and remove deprecated json_encoders in Pydantic models
  backend/src/ninebox/core/config.py
  backend/src/ninebox/models/employee.py
  backend/src/ninebox/models/events.py
  backend/src/ninebox/models/session.py
  backend/src/ninebox/services/event_manager.py
  backend/src/ninebox/services/session_manager.py
  backend/tests/conftest.py
  backend/tests/integration/test_end_to_end_persistence.py
  backend/tests/performance/conftest.py
  backend/tests/unit/models/test_events.py
  backend/tests/unit/services/test_event_manager.py
  backend/tests/unit/services/test_excel_exporter.py
  backend/tests/unit/services/test_session_persistence.py
  frontend/playwright/e2e/drag-drop-visual.spec.ts
  frontend/playwright/e2e/grid-expansion.spec.ts
  frontend/playwright/e2e/smoke-test.spec.ts
  frontend/playwright/helpers/dragAndDrop.ts
  package-lock.json
  package.json
Due: prettier-frontend, eslint-frontend

fix: update AI model to Claude Sonnet 4 for improved documentation analysis
  .github/scripts/ai-docs-audit.js
Due: none

fix: update AI model version to Claude Sonnet 4.5 for improved performance
  .github/scripts/ai-docs-audit.js
Due: none

fix: update audit report path in scripts and workflows for consistency
  .github/scripts/ai-docs-audit.js
  .github/workflows/docs-audit.yml
Due: check-workflow-yaml

refactor: implement lazy database initialization and improve type safety
  backend/src/ninebox/services/database.py
  backend/tests/unit/services/test_database.py
  frontend/playwright/helpers/dragAndDrop.ts
  frontend/playwright/visual/employee-tile-list.spec.ts-snapshots/employee-tile-list-with-flags-dark-visual-win32.png
  frontend/playwright/visual/employee-tile-list.spec.ts-snapshots/employee-tile-list-with-flags-light-visual-win32.png
  frontend/playwright/visual/employee-tile-list.spec.ts-snapshots/employee-tile-list-with-modified-employees-dark-visual-win32.png
  frontend/playwright/visual/employee-tile-list.spec.ts-snapshots/employee-tile-list-with-modified-employees-light-visual-win32.png
  frontend/playwright/visual/employee-tile.spec.ts-snapshots/employee-tile-low-performer-dark-visual-win32.png
  frontend/playwright/visual/employee-tile.spec.ts-snapshots/employee-tile-low-performer-light-visual-win32.png
  frontend/playwright/visual/employee-tile.spec.ts-snapshots/employee-tile-modified-dark-visual-win32.png
  frontend/playwright/visual/employee-tile.spec.ts-snapshots/employee-tile-modified-light-visual-win32.png
  frontend/playwright/visual/employee-tile.spec.ts-snapshots/employee-tile-with-all-fields-dark-visual-win32.png
  frontend/playwright/visual/employee-tile.spec.ts-snapshots/employee-tile-with-all-fields-light-visual-win32.png
  frontend/playwright/visual/employee-tile.spec.ts-snapshots/employee-tile-with-flags-dark-visual-win32.png
  frontend/playwright/visual/employee-tile.spec.ts-snapshots/employee-tile-with-flags-light-visual-win32.png
  frontend/playwright/visual/grid-box.spec.ts-snapshots/grid-box-needs-attention-dark-visual-win32.png
  frontend/playwright/visual/grid-box.spec.ts-snapshots/grid-box-needs-attention-light-visual-win32.png
  internal-docs/ai-documentation-audit.md
Due: prettier-frontend, eslint-frontend

feat: add standardized Python environment setup action with uv package manager
  .github/actions/setup-python-env/action.yml
  .github/workflows/docs-auto-update.yml
  .github/workflows/screenshots.yml
Due: check-workflow-yaml

refactor: enhance virtual environment handling in build scripts for better CI compatibility
  backend/scripts/build_executable.bat
  backend/scripts/build_executable.sh
Due: none

feat: refactor AI docs audit for separate internal/user analysis (Issue #69)
  .github/scripts/ai-docs-audit.js
  internal-docs/ai-documentation-audit.md
Due: none

fix: update printSummary to work with new nested report structure
  .github/scripts/ai-docs-audit.js
Due: none
