Repository bencan1a/9boxer: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-workflow-yaml, validate-translations, prettier-frontend, eslint-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# This configuration matches the CI checks in .github/workflows/ci.yml
# All checks here must pass before commits are allowed.
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$  # Exclude mkdocs.yml (has custom YAML tags)
      - id: check-toml
      - id: check-json
        exclude: ^frontend/tsconfig.*\.json$  # Exclude tsconfig.json (allows comments)
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key

  # Ruff linting - matches CI: make lint (ruff check .)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        name: ruff lint
        args: [--exit-non-zero-on-fix]
        # Note: We don't use --fix here to ensure developers see what would fail in CI

  # Ruff formatting - matches CI: make format-check (ruff format --check .)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff-format
        name: ruff format check

  # Type checking - matches CI: make type-check (mypy backend/src/ .github/scripts/)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        name: mypy type check
        files: ^(backend/src/|\.github/scripts/)
        additional_dependencies: [
          types-requests,
          pandas-stubs,
          types-openpyxl,
          pydantic>=2.0,
        ]

  # Security scanning - matches CI: make security (bandit -r backend/src/ .github/scripts/ -s B404,B603,B607)
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        name: bandit security scan
        args: [-s, B404,B603,B607]
        files: ^(backend/src/|\.github/scripts/)

  # YAML validation - matches CI: make check-yaml
  - repo: local
    hooks:
      - id: check-workflow-yaml
        name: check workflow YAML syntax
        entry: python
        language: system
        args: [-c, "import yaml; import sys; from pathlib import Path; [yaml.safe_load(f.read_text(encoding='utf-8')) for f in Path('.github/workflows').glob('*.yml')]"]
        files: ^\.github/workflows/.*\.yml$
        pass_filenames: false

      # i18n translation validation - validates JSON syntax, key parity, structure, and placeholders
      - id: validate-translations
        name: validate i18n translation files
        entry: python tools/validate-translations.py
        language: system
        files: ^frontend/src/i18n/locales/.*/translation\.json$
        pass_filenames: true

  # Prettier formatting for frontend files (local hook for ARM64 compatibility)
  - repo: local
    hooks:
      - id: prettier-frontend
        name: format frontend files with prettier
        entry: bash tools/run-prettier.sh
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        exclude: ^frontend/(node_modules|dist|dist-electron|build|release|coverage|package-lock\.json|tsconfig.*\.json)/
        pass_filenames: true

      # ESLint for frontend TypeScript/JavaScript files
      - id: eslint-frontend
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        types_or: [ts, tsx, javascript, jsx]
        files: ^frontend/
        exclude: ^frontend/(node_modules|dist|dist-electron|build|release|coverage)/
        pass_filenames: false

feat: enhance filtering with fuzzy search and org tree hierarchy
  backend/src/ninebox/api/org_hierarchy.py
  backend/src/ninebox/services/org_service.py
  frontend/package.json
  frontend/playwright/screenshots/config.ts
  frontend/src/components/common/FilterToolbar.tsx
  frontend/src/components/common/FilterToolbarContainer.tsx
  frontend/src/components/common/__tests__/FilterToolbar.test.tsx
  frontend/src/components/dashboard/AppBarContainer.tsx
  frontend/src/components/dashboard/ExclusionDialog.tsx
  frontend/src/components/dashboard/FilterDrawer.stories.tsx
  frontend/src/components/dashboard/FilterDrawer.tsx
  frontend/src/components/dashboard/filters/FilterSection.tsx
  frontend/src/components/dashboard/filters/OrgTreeFilter.tsx
  frontend/src/components/grid/DraggedEmployeeTile.tsx
  frontend/src/components/grid/EmployeeTile.stories.tsx
  frontend/src/components/grid/EmployeeTile.tsx
  frontend/src/components/grid/EmployeeTileList.tsx
  frontend/src/components/grid/GridBox.tsx
  frontend/src/components/grid/NineBoxGrid.tsx
  frontend/src/components/intelligence/ManagerAnomalySection.tsx
  frontend/src/components/intelligence/ManagerDistributionChart.tsx
  frontend/src/components/panel/ManagementChain.tsx
  frontend/src/components/panel/__tests__/ManagementChain.test.tsx
  frontend/src/hooks/__tests__/useEmployeeSearch.test.ts
  frontend/src/hooks/__tests__/useFilters.test.ts
  frontend/src/hooks/useDebounced.ts
  frontend/src/hooks/useEmployeeSearch.ts
  frontend/src/hooks/useFilters.ts
  frontend/src/hooks/useOrgHierarchy.ts
  frontend/src/services/orgHierarchyService.ts
  frontend/src/store/filterStore.ts
  frontend/src/theme/tokens.ts
  resources/user-guide/docs/images/screenshots/toolbar/filter-toolbar-expanded.png
  resources/user-guide/docs/images/screenshots/toolbar/filter-toolbar-search-autocomplete.png
  resources/user-guide/docs/images/screenshots/toolbar/filter-toolbar-with-active-filters.png
Due: prettier-frontend, eslint-frontend

feat: Add manual screenshot generation for FilterToolbar in Storybook
  agent-plans/employee-search-implementation.md
  agent-plans/filter-unification-and-enhancement.md
  frontend/debug-tree.html
  frontend/playwright/screenshots/config.ts.backup
  frontend/playwright/screenshots/manual-filter-toolbar.ts
  frontend/src/components/common/FilterToolbar.stories.tsx
  frontend/src/components/common/FilterToolbar.tsx
  frontend/src/components/common/FilterToolbarContainer.tsx
  frontend/src/components/common/__tests__/FilterToolbar.test.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/dashboard/FileMenuButton.tsx
  frontend/src/components/grid/EmployeeTile.tsx
  frontend/src/components/grid/EmployeeTileList.tsx
  frontend/src/components/grid/GridBox.tsx
  frontend/src/components/grid/NineBoxGrid.tsx
  frontend/src/components/intelligence/ManagerAnomalySection.tsx
  frontend/src/components/intelligence/ManagerDistributionChart.tsx
  frontend/src/components/panel/ManagementChain.tsx
  frontend/src/components/panel/RightPanel.tsx
  frontend/src/hooks/useFilters.ts
  frontend/src/store/filterStore.ts
  frontend/src/store/uiStore.ts
  frontend/src/theme/theme.ts
  frontend/src/theme/tokens.ts
Due: prettier-frontend, eslint-frontend

fix: resolve org tree single-root bug and refactor toolbar positioning
  .pre-commit-config.yaml
  backend/src/ninebox/services/sample_data_generator.py
  backend/tests/integration/test_org_hierarchy_api.py
  backend/tests/unit/services/test_org_service.py
  frontend/package.json
  frontend/playwright/screenshots/generate.ts
  frontend/src/components/common/FilterToolbar.tsx
  frontend/src/components/common/FilterToolbarContainer.tsx
  frontend/src/components/common/LanguageSelector.tsx
  frontend/src/components/common/ViewControls.tsx
  frontend/src/components/common/__tests__/ViewControls.test.tsx
  frontend/src/components/dashboard/ChangeIndicator.tsx
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/dashboard/ExclusionDialog.tsx
  frontend/src/components/dashboard/FilterDrawer.tsx
  frontend/src/components/dashboard/PureAppBar.tsx
  frontend/src/components/dashboard/filters/FilterSection.tsx
  frontend/src/components/dashboard/filters/GridPositionFilter.tsx
  frontend/src/components/dashboard/filters/OrgTreeFilter.tsx
  frontend/src/components/grid/GridBox.tsx
  frontend/src/components/grid/NineBoxGrid.tsx
  frontend/src/components/grid/__tests__/NineBoxGrid.memory.test.tsx
  frontend/src/components/grid/__tests__/NineBoxGrid.test.tsx
  frontend/src/components/intelligence/CalibrationSummarySection.tsx
  frontend/src/components/intelligence/atoms/DistributionStats.tsx
  frontend/src/components/panel/EmployeeDetails.tsx
  frontend/src/components/panel/statistics/ColoredPercentageBar.tsx
  frontend/src/components/panel/statistics/DistributionTable.tsx
  frontend/src/constants/performanceBuckets.ts
  frontend/src/contexts/SnackbarContext.tsx
  frontend/src/hooks/useEmployeeSearch.ts
  frontend/src/hooks/useSession.ts
  frontend/src/hooks/useStatistics.ts
  frontend/src/types/api.ts
  frontend/tsconfig.json
  frontend/tsconfig.typecheck.json
  tools/run-prettier.sh
  tools/run-typescript-check.sh
Due: prettier-frontend, eslint-frontend

fix: remove changes property from useSession hook and tests
  backend/src/ninebox/api/employees.py
  frontend/src/hooks/__tests__/useSession.test.ts
  resources/user-guide/docs/about/how-we-build.md
Due: prettier-frontend, eslint-frontend

feat: improve UX and add export debug tooling
  backend/test_export_debug.py
  frontend/src/components/grid/NineBoxGrid.tsx
  resources/user-guide/docs/about/how-we-build.md
  resources/user-guide/docs/detection-methodology.md
  resources/user-guide/docs/index.md
  resources/user-guide/docs/intelligence.md
  resources/user-guide/docs/statistics.md
Due: prettier-frontend, eslint-frontend

docs: update screenshot coverage report [skip ci]
  .screenshot-coverage-badge.json
  .screenshot-coverage-report.json
  .screenshot-coverage-report.md
Due: none

feat: update release workflow for Electron app with improved build and artifact handling
  .github/workflows/release.yml
Due: check-workflow-yaml

feat: improve build configuration and add architecture documentation
  backend/build_config/ninebox.spec
  frontend/electron-builder.json
  frontend/electron/main/index.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
  internal-docs/architecture/BACKEND_REFACTORING_PLAN.md
  internal-docs/architecture/FRONTEND_REFACTORING_PLAN.md
  internal-docs/architecture/decisions/006-dependency-injection-pattern.md
  internal-docs/architecture/decisions/007-repository-pattern.md
  internal-docs/architecture/decisions/008-single-responsibility-principle.md
  internal-docs/architecture/decisions/009-configuration-management.md
  internal-docs/architecture/decisions/010-error-handling-standards.md
  internal-docs/architecture/decisions/README.md
Due: prettier-frontend, eslint-frontend

fix: resolve Documentation workflow validation failures
  tools/build_context.py
Due: none

feat: add step to delete existing release before creating a new one
  .github/workflows/release.yml
Due: check-workflow-yaml

fix: skip performance tests in CI environments
  frontend/src/hooks/__tests__/useEmployeeSearch.test.ts
Due: prettier-frontend, eslint-frontend

Add branch protection configuration for lightweight protection
  branch-protection.json
Due: none

Switch macOS builds from DMG to ZIP format
  .github/workflows/build-electron.yml
  .github/workflows/release.yml
  INSTALL_MACOS.md
  README.md
  frontend/electron-builder.json
Due: check-workflow-yaml, prettier-frontend

Add user guide documentation generation step to build workflows
  .github/workflows/build-electron.yml
  .github/workflows/release.yml
Due: check-workflow-yaml

Refactor build workflows to streamline user guide generation and Electron app builds
  .github/workflows/build-electron.yml
  .github/workflows/release.yml
Due: check-workflow-yaml

Refactor Python executable detection in user guide generation script
  .github/workflows/build-electron.yml
  .github/workflows/release.yml
  backend/src/ninebox/core/dependencies.py
  backend/src/ninebox/services/calibration_summary_service.py
  backend/src/ninebox/services/llm_service.py
  backend/tests/unit/services/test_calibration_summary_service.py
  frontend/scripts/generate-icons.cjs
  frontend/scripts/generate-user-guide.cjs
  frontend/src/components/dashboard/FileMenuButton.tsx
  frontend/src/components/intelligence/CalibrationSummarySection.tsx
  frontend/src/hooks/useCalibrationSummary.ts
  frontend/src/i18n/locales/en/translation.json
Due: check-workflow-yaml, validate-translations, prettier-frontend, eslint-frontend

Update AI summary generation message and add missing translations
  frontend/src/components/intelligence/CalibrationSummarySection.tsx
  frontend/src/i18n/locales/cs/translation.json
  frontend/src/i18n/locales/de/translation.json
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/es/translation.json
  frontend/src/i18n/locales/fr/translation.json
  frontend/src/i18n/locales/hi/translation.json
  frontend/src/i18n/locales/ja/translation.json
Due: validate-translations, prettier-frontend, eslint-frontend

Replace Playwright with sharp for icon generation
  frontend/build/icon.png
  frontend/build/icon_1024x1024.png
  frontend/build/icon_128x128.png
  frontend/build/icon_16x16.png
  frontend/build/icon_256x256.png
  frontend/build/icon_32x32.png
  frontend/build/icon_48x48.png
  frontend/build/icon_512x512.png
  frontend/build/icon_64x64.png
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/generate_logo_icons.ts
Due: prettier-frontend, eslint-frontend

Replace png2icons with native macOS iconutil for ICNS generation
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/create_icns.ts
Due: prettier-frontend, eslint-frontend

Remove AppImage from release artifacts in GitHub Release workflow
  .github/workflows/release.yml
Due: check-workflow-yaml

Optimize frontend performance and improve state management
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/grid/EmployeeTile.tsx
  frontend/src/components/grid/EmployeeTileList.tsx
  frontend/src/components/grid/NineBoxGrid.tsx
  frontend/src/hooks/__tests__/useCalibrationSummary.test.ts
  frontend/src/hooks/useCalibrationSummary.ts
  frontend/src/store/sessionStore.ts
  resources/user-guide/docs/overview.md
  resources/user-guide/docs/quickstart.md
Due: prettier-frontend, eslint-frontend

docs: resolve issue #229 and improve documentation audit system
  .github/scripts/ai-docs-audit.js
  internal-docs/AGENT_DOCS_CONTRACT.md
  internal-docs/architecture/ORG_HIERARCHY_SERVICE.md
  internal-docs/architecture/README.md
Due: none

fix: resolve issue #213 - fix E2E test failures and update backend assertions
  backend/tests/integration/test_e2e.py
  frontend/package.json
  frontend/playwright/helpers/settings.ts
  frontend/playwright/helpers/zoom.ts
Due: prettier-frontend, eslint-frontend

fix: resolve weekly regression test failures and improve CI stability
  .github/workflows/weekly.yml
  backend/tests/integration/test_export_fallback_flow.py
  frontend/playwright/fixtures/worker-backend.ts
  frontend/playwright/helpers/exportValidation.ts
Due: check-workflow-yaml, prettier-frontend, eslint-frontend
