Repository bencan1a/9boxer: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-workflow-yaml, validate-translations, prettier-frontend, eslint-frontend

check-workflow-yaml:
  name: check workflow YAML syntax
  entry: python
  language: system
  args:
  - -c
  - import yaml; import sys; from pathlib import Path; [yaml.safe_load(f.read_text(encoding='utf-8')) for f in Path('.github/workflows').glob('*.yml')]
  pass_filenames: false

validate-translations:
  name: validate i18n translation files
  entry: python tools/validate-translations.py
  language: system
  pass_filenames: true

prettier-frontend:
  name: format frontend files with prettier
  entry: bash tools/run-prettier.sh
  language: system
  pass_filenames: true

eslint-frontend:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

fix: Correct path for Playwright configuration in visual regression workflow
  .github/workflows/visual-regression.yml
Due: check-workflow-yaml

feat: Consolidate Playwright visual regression testing and update translations
  agent-projects/view-controls-consolidation/DOCUMENTATION_COMPLETE.md
  agent-projects/view-controls-consolidation/screenshot-requirements.md
  docs/design-system/migration-summary.md
  docs/testing/visual-regression-testing.md
  frontend/playwright.config.ts
  frontend/playwright.visual.config.ts
  frontend/playwright/e2e/right-panel-interactions.spec.ts
  frontend/playwright/e2e/smoke-test.spec.ts
  frontend/playwright/visual/README.md
  frontend/playwright/visual/employee-tile.spec.ts-snapshots/employee-tile-donut-modified-dark-visual-win32.png
  frontend/playwright/visual/employee-tile.spec.ts-snapshots/employee-tile-donut-modified-light-visual-win32.png
  frontend/playwright/visual/employee-tile.spec.ts-snapshots/employee-tile-low-performer-dark-visual-win32.png
  frontend/playwright/visual/employee-tile.spec.ts-snapshots/employee-tile-low-performer-light-visual-win32.png
  frontend/playwright/visual/employee-tile.spec.ts-snapshots/employee-tile-with-all-fields-dark-visual-win32.png
  frontend/playwright/visual/employee-tile.spec.ts-snapshots/employee-tile-with-all-fields-light-visual-win32.png
  frontend/playwright/visual/employee-tile.spec.ts-snapshots/employee-tile-with-flags-dark-visual-win32.png
  frontend/playwright/visual/employee-tile.spec.ts-snapshots/employee-tile-with-flags-light-visual-win32.png
  frontend/playwright/visual/grid-box.spec.ts-snapshots/grid-box-needs-attention-dark-visual-win32.png
  frontend/playwright/visual/grid-box.spec.ts-snapshots/grid-box-needs-attention-light-visual-win32.png
  frontend/src/components/common/ConnectionStatus.tsx
  frontend/src/components/grid/GridBox.tsx
  frontend/src/components/panel/EmployeeFlags.stories.tsx
  frontend/src/i18n/locales/cs/translation.json
  frontend/src/i18n/locales/de/translation.json
  frontend/src/i18n/locales/es/translation.json
  frontend/src/i18n/locales/fr/translation.json
  frontend/src/i18n/locales/hi/translation.json
  frontend/src/i18n/locales/ja/translation.json
  playwright/screenshots/debug-filters-active-chips.png
  playwright/screenshots/debug-notes-field.png
  playwright/screenshots/debug-notes-good-example.png
  playwright/screenshots/debug-timeline.png
  tools/cleanup-dev-processes.ps1
Due: validate-translations, prettier-frontend, eslint-frontend

feat: Update user documentation with new images and development server configuration
  mkdocs.yml
  resources/user-guide/docs/getting-started.md
  resources/user-guide/docs/quickstart.md
  resources/user-guide/docs/workflows/adding-notes.md
  resources/user-guide/docs/workflows/making-changes.md
  resources/user-guide/docs/workflows/talent-calibration.md
Due: none

feat: Optimize typography for documentation readability
  resources/user-guide/docs/stylesheets/extra.css
Due: none

feat: enhance EmployeeTile component with improved border logic and tooltip display
  frontend/src/components/grid/EmployeeTile.tsx
Due: prettier-frontend, eslint-frontend

Update frontend/src/components/grid/GridAxes.stories.tsx
  frontend/src/components/grid/GridAxes.stories.tsx
Due: prettier-frontend, eslint-frontend

Update frontend/src/components/grid/NineBoxGrid.stories.tsx
  frontend/src/components/grid/NineBoxGrid.stories.tsx
Due: prettier-frontend, eslint-frontend

Update frontend/src/components/grid/__tests__/GridAxes.test.tsx
  frontend/src/components/grid/__tests__/GridAxes.test.tsx
Due: prettier-frontend, eslint-frontend

Update frontend/src/components/grid/__tests__/EmployeeTileList.test.tsx
  frontend/src/components/grid/__tests__/EmployeeTileList.test.tsx
Due: prettier-frontend, eslint-frontend

Update frontend/src/components/dashboard/FileMenuButton.tsx
  frontend/src/components/dashboard/FileMenuButton.tsx
Due: prettier-frontend, eslint-frontend

chore: add permissions for visual regression tests workflow
  .github/workflows/visual-regression.yml
Due: check-workflow-yaml

Add Internal Documentation Consolidation Guide
  agent-projects/internal-docs-consolidation/GUIDE.md
Due: none

Refactor GridAxes into single-responsibility Axis component
  DESIGN_SYSTEM.md
  docs/components/ninebox-grid-states.md
  frontend/playwright/visual/axis.spec.ts
  frontend/src/components/grid/Axis.stories.tsx
  frontend/src/components/grid/Axis.tsx
  frontend/src/components/grid/EmployeeTileList.stories.tsx
  frontend/src/components/grid/EmployeeTileList.tsx
  frontend/src/components/grid/NineBoxGrid.stories.tsx
  frontend/src/components/grid/NineBoxGrid.tsx
  frontend/src/components/grid/__tests__/Axis.test.tsx
  frontend/src/components/grid/index.ts
Due: prettier-frontend, eslint-frontend

Remove deprecated GridAxes component files
  frontend/playwright/visual/grid-axes.spec.ts
  frontend/src/components/grid/GridAxes.stories.tsx
  frontend/src/components/grid/GridAxes.tsx
  frontend/src/components/grid/__tests__/GridAxes.test.tsx
Due: prettier-frontend, eslint-frontend

Enhance ChangeIndicator and FileMenuButton components with testId props; update Spanish translations and add new screenshots
  frontend/playwright/screenshots/debug-notes-field.png
  frontend/playwright/screenshots/debug-notes-good-example.png
  frontend/playwright/screenshots/debug-timeline.png
  frontend/src/components/dashboard/ChangeIndicator.tsx
  frontend/src/components/dashboard/FileMenuButton.tsx
  frontend/src/i18n/locales/es/translation.json
  playwright/screenshots/debug-filters-active-chips.png
  playwright/screenshots/debug-timeline.png
Due: validate-translations, prettier-frontend, eslint-frontend

Complete Intelligence Panel componentization (Issue #52 - Phases 4-6)
  DESIGN_SYSTEM.md
  frontend/playwright/screenshots/config.ts
  frontend/playwright/screenshots/workflows/intelligence.ts
  frontend/src/components/intelligence/atoms/AnomalyCard.tsx
  frontend/src/components/intelligence/atoms/DistributionStats.tsx
  frontend/src/components/intelligence/atoms/InsightCard.tsx
  frontend/src/components/intelligence/atoms/SectionHeader.tsx
  frontend/src/components/intelligence/atoms/__tests__/AnomalyCard.test.tsx
  frontend/src/components/intelligence/atoms/__tests__/DistributionStats.test.tsx
  frontend/src/components/intelligence/atoms/__tests__/InsightCard.test.tsx
  frontend/src/components/intelligence/atoms/__tests__/SectionHeader.test.tsx
  frontend/src/components/intelligence/atoms/index.ts
  frontend/src/components/intelligence/sections/AnomaliesSection.stories.tsx
  frontend/src/components/intelligence/sections/AnomaliesSection.tsx
  frontend/src/components/intelligence/sections/DistributionSection.stories.tsx
  frontend/src/components/intelligence/sections/DistributionSection.tsx
  frontend/src/components/intelligence/sections/InsightsSection.stories.tsx
  frontend/src/components/intelligence/sections/InsightsSection.tsx
  frontend/src/components/intelligence/sections/__tests__/AnomaliesSection.test.tsx
  frontend/src/components/intelligence/sections/__tests__/DistributionSection.test.tsx
  frontend/src/components/intelligence/sections/__tests__/InsightsSection.test.tsx
  frontend/src/components/intelligence/sections/index.ts
  frontend/src/i18n/locales/en/translation.json
  frontend/src/types/intelligence.ts
  frontend/vitest.config.ts
Due: validate-translations, prettier-frontend, eslint-frontend

Update screenshot assets for debugging filters and notes fields
  playwright/screenshots/debug-filters-active-chips.png
  playwright/screenshots/debug-notes-field.png
  playwright/screenshots/debug-notes-good-example.png
  playwright/screenshots/debug-timeline.png
Due: none

docs: Consolidate i18n, contributing & screenshot standards (Issue #66)
  AGENTS.md
  CLAUDE.md
  docs/archive/2025-12-26/FINAL_SUMMARY.md
  docs/archive/2025-12-26/IMPLEMENTATION_SUMMARY.md
  docs/archive/2025-12-26/OPTION_C_REDESIGN_PLAN.md
  docs/archive/2025-12-26/PLAYWRIGHT_FIXES_STATUS.md
  docs/archive/2025-12-26/playwright-best-practices.md
  docs/contributing/README.md
  docs/contributing/screenshot-guide.md
  docs/i18n/i18n-migration-summary.md
  docs/screenshots-readme.md
Due: none

Path conditions:
  check-workflow-yaml: any of: ^\.github/workflows/.*\.yml$
  validate-translations: any of: ^frontend/src/i18n/locales/.*/translation\.json$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|json)$, but not: ^frontend/(node_modules|dist|dist-electron|build|release|coverage|package-lock\.json|tsconfig.*\.json)/
  eslint-frontend: any of: ^frontend/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^frontend/(node_modules|dist|dist-electron|build|release|coverage)/)
