Repository bencan1a/9boxer: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-workflow-yaml, validate-translations, prettier-frontend, eslint-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# This configuration matches the CI checks in .github/workflows/ci.yml
# All checks here must pass before commits are allowed.
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$  # Exclude mkdocs.yml (has custom YAML tags)
      - id: check-toml
      - id: check-json
        exclude: ^frontend/tsconfig.*\.json$  # Exclude tsconfig.json (allows comments)
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key

  # Ruff linting - matches CI: make lint (ruff check .)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        name: ruff lint
        args: [--exit-non-zero-on-fix]
        # Note: We don't use --fix here to ensure developers see what would fail in CI

  # Ruff formatting - matches CI: make format-check (ruff format --check .)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff-format
        name: ruff format check

  # Type checking - matches CI: make type-check (mypy backend/src/ .github/scripts/)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        name: mypy type check
        files: ^(backend/src/|\.github/scripts/)
        additional_dependencies: [
          types-requests,
          pandas-stubs,
          types-openpyxl,
          pydantic>=2.0,
        ]

  # Security scanning - matches CI: make security (bandit -r backend/src/ .github/scripts/ -s B404,B603,B607)
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        name: bandit security scan
        args: [-s, B404,B603,B607]
        files: ^(backend/src/|\.github/scripts/)

  # YAML validation - matches CI: make check-yaml
  - repo: local
    hooks:
      - id: check-workflow-yaml
        name: check workflow YAML syntax
        entry: python
        language: system
        args: [-c, "import yaml; import sys; from pathlib import Path; [yaml.safe_load(f.read_text(encoding='utf-8')) for f in Path('.github/workflows').glob('*.yml')]"]
        files: ^\.github/workflows/.*\.yml$
        pass_filenames: false

      # i18n translation validation - validates JSON syntax, key parity, structure, and placeholders
      - id: validate-translations
        name: validate i18n translation files
        entry: python tools/validate-translations.py
        language: system
        files: ^frontend/src/i18n/locales/.*/translation\.json$
        pass_filenames: true

  # Prettier formatting for frontend files (local hook for ARM64 compatibility)
  - repo: local
    hooks:
      - id: prettier-frontend
        name: format frontend files with prettier
        entry: bash tools/run-prettier.sh
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        exclude: ^frontend/(node_modules|dist|dist-electron|build|release|coverage|package-lock\.json|tsconfig.*\.json)/
        pass_filenames: true

      # ESLint for frontend TypeScript/JavaScript files
      - id: eslint-frontend
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        types_or: [ts, tsx, javascript, jsx]
        files: ^frontend/
        exclude: ^frontend/(node_modules|dist|dist-electron|build|release|coverage)/
        pass_filenames: false

refactor: remove screenshot dimension validation tests
  frontend/playwright/screenshots/config.ts
  frontend/playwright/visual-regression/screenshot-validation.spec.ts
Due: prettier-frontend, eslint-frontend

docs: update screenshot coverage report [skip ci]
  .screenshot-coverage-badge.json
  .screenshot-coverage-report.json
  .screenshot-coverage-report.md
Due: none

fix: resolve e2e playwright test failures and improve test reliability
  frontend/playwright.config.ts
  frontend/playwright/e2e/donut-mode.spec.ts
  frontend/playwright/e2e/export-flow.spec.ts
  frontend/playwright/e2e/export-validation.spec.ts
  frontend/playwright/e2e/filter-flow.spec.ts
  frontend/playwright/e2e/sample-data-flow.spec.ts
  frontend/playwright/e2e/smoke-test.spec.ts
  frontend/playwright/e2e/toolbar-interactions.spec.ts
  frontend/playwright/e2e/upload-flow.spec.ts
  frontend/playwright/e2e/zoom-flow.spec.ts
  frontend/playwright/helpers/dragAndDrop.ts
  frontend/playwright/helpers/fixtures.ts
  frontend/src/components/grid/EmployeeTile.tsx
Due: prettier-frontend, eslint-frontend

feat: add big mover detection and badge system
  backend/src/ninebox/api/employees.py
  backend/src/ninebox/services/employee_service.py
  backend/tests/unit/services/test_employee_service.py
  frontend/src/constants/flags.ts
  frontend/src/store/sessionStore.ts
  frontend/src/types/employee.ts
Due: prettier-frontend, eslint-frontend

chore: remove legacy Docker and deployment files after migration to Electron
  legacy/.env.example
  legacy/Makefile.docker
  legacy/README.md
  legacy/copilot-setup-steps.yml
  legacy/docker-compose.dev.yml
  legacy/docker-compose.yml
  legacy/docker/Dockerfile.backend
  legacy/docker/Dockerfile.frontend
  legacy/docker/Dockerfile.frontend.dev
  legacy/docker/nginx.conf
  legacy/init_user.py
Due: none

refactor: add type hints to functions in screenshot gallery and validation scripts
  tools/generate_screenshot_gallery.py
  tools/screenshot_gallery.py
  tools/test_validation.py
Due: none

chore: fix devcontainer.json structure and clean up testing templates
  .devcontainer/devcontainer.json
  .screenshot-coverage-badge.json
  .screenshot-coverage-report.json
  internal-docs/testing/templates/backend-test-template.py
  internal-docs/testing/templates/component-test-i18n.example.tsx
  internal-docs/testing/templates/component-test-template.tsx
  internal-docs/testing/templates/e2e-test-i18n.example.ts
  internal-docs/testing/templates/e2e-test-template.spec.ts
Due: none

fix: add E402 noqa suppression for mid-file import in session.py
  backend/src/ninebox/api/session.py
  pyproject.toml
Due: none

chore: add additional VS Code extensions for improved development experience
  .devcontainer/devcontainer.json
Due: none

feat: enable immediate save of sample data without changes
  frontend/src/components/dashboard/AppBarContainer.tsx
  frontend/src/components/dashboard/ChangeIndicator.tsx
  frontend/src/components/dashboard/FileMenuButton.tsx
  frontend/src/components/dashboard/PureAppBar.tsx
  frontend/src/components/dashboard/__tests__/ChangeIndicator.test.tsx
  frontend/src/i18n/locales/cs/translation.json
  frontend/src/i18n/locales/de/translation.json
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/es/translation.json
  frontend/src/i18n/locales/fr/translation.json
  frontend/src/i18n/locales/hi/translation.json
  frontend/src/i18n/locales/ja/translation.json
  frontend/src/store/sessionStore.ts
  resources/user-guide/docs/quickstart.md
Due: validate-translations, prettier-frontend, eslint-frontend

docs: complete Phase 1 documentation improvements
  resources/user-guide/docs/best-practices.md
  resources/user-guide/docs/donut-mode.md
  resources/user-guide/docs/exporting.md
  resources/user-guide/docs/filters.md
  resources/user-guide/docs/index.md
  resources/user-guide/docs/settings.md
  resources/user-guide/docs/statistics.md
  resources/user-guide/docs/troubleshooting.md
  resources/user-guide/docs/understanding-grid.md
  resources/user-guide/docs/working-with-employees.md
Due: none

Add comprehensive task breakdown for 9Boxer documentation overhaul and implement sample data save feature plan
  .devcontainer/devcontainer.json
  .github/ISSUE_TEMPLATE/sample-data-save-feature.md
  .github/agents/documentation.md
  .github/agents/user-documentation-expert.md
  agent-projects/docs-assessment-2024-12-30/README.md
  agent-projects/docs-assessment-2024-12-30/application-inventory.md
  agent-projects/docs-assessment-2024-12-30/assessment-report.md
  agent-projects/docs-assessment-2024-12-30/plan.md
  agent-projects/docs-assessment-corrected/README.md
  agent-projects/docs-assessment-corrected/corrected-report.md
  agent-projects/docs-assessment-corrected/plan.md
  agent-projects/docs-assessment-corrected/screenshot-analysis.md
  agent-projects/docs-comprehensive-overhaul/README.md
  agent-projects/docs-comprehensive-overhaul/plan.md
  agent-projects/docs-comprehensive-overhaul/screenshot-integration-plan.md
  agent-projects/docs-comprehensive-overhaul/task-breakdown.md
  agent-projects/sample-data-save-feature/plan.md
Due: none

docs: complete Phase 2 documentation structural enhancements
  mkdocs.yml
  resources/user-guide/docs/donut-mode.md
  resources/user-guide/docs/executive-quick-reference.md
  resources/user-guide/docs/exporting.md
  resources/user-guide/docs/filters.md
  resources/user-guide/docs/getting-started.md
  resources/user-guide/docs/keyboard-shortcuts.md
  resources/user-guide/docs/large-dataset-guide.md
  resources/user-guide/docs/new-to-9box.md
  resources/user-guide/docs/quickstart.md
  resources/user-guide/docs/statistics.md
  resources/user-guide/docs/tracking-changes.md
  resources/user-guide/docs/workflows/adding-notes.md
  resources/user-guide/docs/workflows/analyzing-distribution.md
  resources/user-guide/docs/workflows/identifying-flight-risks.md
  resources/user-guide/docs/workflows/making-changes.md
  resources/user-guide/docs/workflows/talent-calibration.md
  resources/user-guide/docs/working-with-employees.md
Due: none

docs: complete Phase 3 documentation excellence & polish
  resources/user-guide/docs/donut-mode.md
  resources/user-guide/docs/exporting.md
  resources/user-guide/docs/filters.md
  resources/user-guide/docs/new-to-9box.md
  resources/user-guide/docs/settings.md
  resources/user-guide/docs/statistics.md
  resources/user-guide/docs/tracking-changes.md
  resources/user-guide/docs/troubleshooting.md
  resources/user-guide/docs/understanding-grid.md
  resources/user-guide/docs/uploading-data.md
  resources/user-guide/docs/workflows/adding-notes.md
  resources/user-guide/docs/workflows/analyzing-distribution.md
  resources/user-guide/docs/workflows/identifying-flight-risks.md
  resources/user-guide/docs/workflows/making-changes.md
  resources/user-guide/docs/workflows/talent-calibration.md
  resources/user-guide/docs/working-with-employees.md
Due: none

feat: migrate to e2e-core test suite and replace old e2e tests
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  e2e-code-review-fixes-summary.md
  e2e-core-test-results.md
  e2e-infrastructure-evaluation.md
  e2e-phase1-completion-summary.md
  e2e-phase2-completion-summary.md
  e2e-test-specification.md
  frontend/playwright.config.ts
  frontend/playwright/DEBUG.md
  frontend/playwright/e2e-core/01-data-loading.spec.ts
  frontend/playwright/e2e-core/02-employee-selection.spec.ts
  frontend/playwright/e2e-core/03-making-changes.spec.ts
  frontend/playwright/e2e-core/04-filtering.spec.ts
  frontend/playwright/e2e-core/05-donut-mode.spec.ts
  frontend/playwright/e2e-core/06-export.spec.ts
  frontend/playwright/helpers/assertions.ts
  frontend/playwright/helpers/backend.ts
  frontend/playwright/helpers/changeTracking.ts
  frontend/playwright/helpers/exportValidation.ts
  frontend/playwright/helpers/fileOperations.ts
  frontend/playwright/helpers/filters.ts
  frontend/playwright/helpers/fixtures.ts
  frontend/playwright/helpers/flags.ts
  frontend/playwright/helpers/index.ts
  frontend/playwright/helpers/selection.ts
  frontend/playwright/helpers/ui.ts
Due: check-workflow-yaml, prettier-frontend, eslint-frontend

feat: add user-documentation-expert agent for creating and improving user documentation
  .claude/agents/test-architect.md
  .claude/agents/user-documentation-expert.md
  .devcontainer/devcontainer.json
Due: none
