Repository bencan1a/9boxer: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-workflow-yaml, validate-translations, prettier-frontend, eslint-frontend

check-workflow-yaml:
  name: check workflow YAML syntax
  entry: python
  language: system
  args:
  - -c
  - import yaml; import sys; from pathlib import Path; [yaml.safe_load(f.read_text(encoding='utf-8')) for f in Path('.github/workflows').glob('*.yml')]
  pass_filenames: false

validate-translations:
  name: validate i18n translation files
  entry: python tools/validate-translations.py
  language: system
  pass_filenames: true

prettier-frontend:
  name: format frontend files with prettier
  entry: bash tools/run-prettier.sh
  language: system
  pass_filenames: true

eslint-frontend:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

docs: add Playwright trace and report screenshot paths to .gitignore
  .gitignore
Due: none

docs: update screenshot coverage report [skip ci]
  .screenshot-coverage-badge.json
  .screenshot-coverage-report.json
  .screenshot-coverage-report.md
Due: none

feat: enhance manager rating distribution analysis with UX improvements
  .github/workflows/performance-check.yml
  .screenshot-coverage-badge.json
  .screenshot-coverage-report.json
  agent-projects/manager-rating-anomaly/plan.md
  agent-projects/org-hierarchy-refactoring/plan.md
  backend/src/ninebox/api/intelligence.py
  backend/src/ninebox/services/intelligence_service.py
  backend/src/ninebox/services/org_service.py
  backend/src/ninebox/services/sample_data_generator.py
  backend/tests/integration/test_manager_bias_sample_data.py
  backend/tests/unit/services/test_intelligence_manager_analysis.py
  backend/tests/unit/services/test_intelligence_service.py
  backend/tests/unit/services/test_org_service.py
  frontend/playwright/e2e-core/13-org-hierarchy-filter.spec.ts
  frontend/src/components/dashboard/__tests__/FilterDrawer.edge-cases.test.tsx
  frontend/src/components/intelligence/IntelligenceSummary.stories.tsx
  frontend/src/components/intelligence/ManagerAnomalySection.tsx
  frontend/src/components/intelligence/ManagerDistributionChart.stories.tsx
  frontend/src/components/intelligence/ManagerDistributionChart.tsx
  frontend/src/components/intelligence/__tests__/IntelligenceSummary.test.tsx
  frontend/src/components/intelligence/__tests__/ManagerAnomalySection.test.tsx
  frontend/src/components/intelligence/__tests__/ManagerDistributionChart.test.tsx
  frontend/src/components/panel/IntelligenceTab.tsx
  frontend/src/i18n/locales/cs/translation.json
  frontend/src/i18n/locales/de/translation.json
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/es/translation.json
  frontend/src/i18n/locales/fr/translation.json
  frontend/src/i18n/locales/hi/translation.json
  frontend/src/i18n/locales/ja/translation.json
  frontend/src/mocks/mockChartData.ts
  frontend/src/mocks/mockIntelligence.ts
  frontend/src/types/api.ts
  internal-docs/architecture/ORG_HIERARCHY_SERVICE.md
  internal-docs/testing/edge-case-implementation-summary.md
  resources/user-guide/docs/stylesheets/design-tokens.css
  verify_bias_lookup.py
  verify_manager_names.py
  verify_name_uniqueness.py
Due: check-workflow-yaml, validate-translations, prettier-frontend, eslint-frontend

Update NineBoxGrid.memory.test.tsx
  frontend/src/components/grid/__tests__/NineBoxGrid.memory.test.tsx
Due: prettier-frontend, eslint-frontend

Update ci.yml
  .github/workflows/ci.yml
Due: check-workflow-yaml

fix: ensure is_significant is explicitly cast to bool in manager analysis
  backend/src/ninebox/services/intelligence_service.py
Due: none

refactor: improve performance test targets and output clarity
  frontend/src/components/grid/__tests__/EmployeeTile.performance.test.tsx
  frontend/src/components/intelligence/ManagerDistributionChart.tsx
  tools/run-tests-with-message.sh
  verify_bias_lookup.py
Due: prettier-frontend, eslint-frontend

feat: add support for 'anthropic' module in mypy overrides
  pyproject.toml
Due: none

Fix filter panel manager selection to use org service
  frontend/src/components/dashboard/FilterDrawer.tsx
  frontend/src/components/dashboard/filters/OrgTreeFilter.tsx
  frontend/src/components/dashboard/filters/index.ts
  frontend/src/hooks/useFilters.ts
  frontend/src/services/orgHierarchyService.ts
  frontend/src/store/filterStore.ts
  frontend/src/utils/orgHierarchyHelpers.ts
Due: prettier-frontend, eslint-frontend

Clean up formatting and remove outdated documentation
  backend/src/ninebox/api/org_hierarchy.py
  backend/src/ninebox/services/intelligence_service.py
  backend/src/ninebox/services/sample_data_generator.py
  e2e-code-review-fixes-summary.md
  e2e-core-expansion-plan.md
  e2e-core-test-results.md
  e2e-infrastructure-evaluation.md
  e2e-phase1-completion-summary.md
  e2e-phase2-completion-summary.md
  e2e-test-specification.md
  frontend/src/components/intelligence/ManagerAnomalySection.tsx
  frontend/src/components/intelligence/ManagerDistributionChart.tsx
  frontend/src/services/api.ts
  frontend/src/types/api.ts
Due: prettier-frontend, eslint-frontend

feat: enhance electron development container scripts for improved VNC setup
  frontend/package.json
Due: prettier-frontend

Apply prettier formatting to useFilters tests
  frontend/src/hooks/__tests__/useFilters.test.ts
Due: prettier-frontend, eslint-frontend

fix: make insight IDs deterministic to fix AI summary generation
  backend/src/ninebox/api/calibration_summary.py
  backend/src/ninebox/core/config.py
  backend/src/ninebox/core/dependencies.py
  backend/src/ninebox/services/calibration_summary_service.py
  backend/src/ninebox/services/llm_service.py
  frontend/src/i18n/locales/en/translation.json
  package-lock.json
  package.json
Due: validate-translations, prettier-frontend

fix: correct pip install command for dependencies and PyInstaller
  backend/scripts/build_executable.sh
Due: none

Refactor code structure for improved readability and maintainability
  .screenshot-coverage-badge.json
  .screenshot-coverage-report.json
  .screenshot-coverage-report.md
  PUX_ Talent Mapping  Manager Review_Less VPs_Sheila_CONFIDENTIAL.3.xlsx
  USER_GUIDE.md
  agent-projects/ai-calibration-summary/implementation-summary.md
  agent-projects/ai-calibration-summary/plan.md
  agent-projects/ai-calibration-summary/user-guide-integration.md
  internal-docs/README.md
  internal-docs/architecture/README.md
  internal-docs/architecture/build-process.md
  internal-docs/architecture/deployment.md
  internal-docs/archive/2026-01-02/BUILD.MD
  internal-docs/archive/2026-01-02/DEPLOYMENT.MD
  internal-docs/archive/2026-01-02/DESIGN_SYSTEM.MD
  internal-docs/archive/2026-01-02/README.md
  internal-docs/design-system/README.md
  internal-docs/design-system/component-guidelines.md
  internal-docs/projects/pending-screenshots-project.md
  resources/PUX_ Talent Mapping  IC Review_CONFIDENTIAL.3.xlsx
  test_output.txt
  verify_bias_lookup.py
  verify_manager_names.py
  verify_name_uniqueness.py
Due: none

Refactor code structure for improved readability and maintainability
  .screenshot-coverage-badge.json
  .screenshot-coverage-report.json
  .screenshot-coverage-report.md
  USER_GUIDE.md
  agent-projects/ai-calibration-summary/implementation-summary.md
  agent-projects/ai-calibration-summary/plan.md
  agent-projects/ai-calibration-summary/user-guide-integration.md
  internal-docs/README.md
  internal-docs/architecture/README.md
  internal-docs/architecture/build-process.md
  internal-docs/architecture/deployment.md
  internal-docs/archive/2026-01-02/BUILD.MD
  internal-docs/archive/2026-01-02/DEPLOYMENT.MD
  internal-docs/archive/2026-01-02/DESIGN_SYSTEM.MD
  internal-docs/archive/2026-01-02/README.md
  internal-docs/design-system/README.md
  internal-docs/design-system/component-guidelines.md
  internal-docs/projects/pending-screenshots-project.md
  resources/PUX_ Talent Mapping  IC Review_CONFIDENTIAL.3.xlsx
  resources/PUX_ Talent Mapping  Manager Review_Less VPs_Sheila_CONFIDENTIAL.3.xlsx
  test_output.txt
  verify_bias_lookup.py
  verify_manager_names.py
  verify_name_uniqueness.py
Due: none

Improve CI/CD reliability with Makefile-centric architecture
  .github/actions/setup-frontend-env/action.yml
  .github/actions/setup-python-env/action.yml
  .github/scripts/detect-doc-impact.js
  .github/scripts/detect-new-features.js
  .github/workflows/docs-auto-update.yml
  .github/workflows/performance-check.yml
  .github/workflows/pr-docs-check.yml
  .github/workflows/visual-regression.yml
  .pre-commit-config.yaml
  Makefile
  internal-docs/README.md
  internal-docs/cicd/CI_RELIABILITY.md
  internal-docs/cicd/README.md
  tools/hooks/run-format-check.sh
  tools/hooks/run-lint.sh
  tools/hooks/run-security.sh
  tools/hooks/run-type-check.sh
Due: check-workflow-yaml

Fix CI failures: type error, formatting, and misplaced docs
  backend/src/ninebox/services/excel_exporter.py
  backend/src/ninebox/services/intelligence_service.py
  internal-docs/.screenshot-coverage-report.md
  internal-docs/performance-test-threshold-fix-summary.md
Due: none

Path conditions:
  check-workflow-yaml: any of: ^\.github/workflows/.*\.yml$
  validate-translations: any of: ^frontend/src/i18n/locales/.*/translation\.json$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|json)$, but not: ^frontend/(node_modules|dist|dist-electron|build|release|coverage|package-lock\.json|tsconfig.*\.json)/
  eslint-frontend: any of: ^frontend/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^frontend/(node_modules|dist|dist-electron|build|release|coverage)/)
