Repository bencan1a/9boxer: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-workflow-yaml, validate-translations, prettier-frontend, eslint-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# This configuration matches the CI checks in .github/workflows/ci.yml
# All checks here must pass before commits are allowed.
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$  # Exclude mkdocs.yml (has custom YAML tags)
      - id: check-toml
      - id: check-json
        exclude: ^frontend/tsconfig.*\.json$  # Exclude tsconfig.json (allows comments)
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key

  # Ruff linting - matches CI: make lint (ruff check .)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        name: ruff lint
        args: [--exit-non-zero-on-fix]
        # Note: We don't use --fix here to ensure developers see what would fail in CI

  # Ruff formatting - matches CI: make format-check (ruff format --check .)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff-format
        name: ruff format check

  # Type checking - matches CI: make type-check (mypy backend/src/ .github/scripts/)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        name: mypy type check
        files: ^(backend/src/|\.github/scripts/)
        additional_dependencies: [
          types-requests,
          pandas-stubs,
          types-openpyxl,
          pydantic>=2.0,
        ]

  # Security scanning - matches CI: make security (bandit -r backend/src/ .github/scripts/ -s B404,B603,B607)
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        name: bandit security scan
        args: [-s, B404,B603,B607]
        files: ^(backend/src/|\.github/scripts/)

  # YAML validation - matches CI: make check-yaml
  - repo: local
    hooks:
      - id: check-workflow-yaml
        name: check workflow YAML syntax
        entry: python
        language: system
        args: [-c, "import yaml; import sys; from pathlib import Path; [yaml.safe_load(f.read_text(encoding='utf-8')) for f in Path('.github/workflows').glob('*.yml')]"]
        files: ^\.github/workflows/.*\.yml$
        pass_filenames: false

      # i18n translation validation - validates JSON syntax, key parity, structure, and placeholders
      - id: validate-translations
        name: validate i18n translation files
        entry: python tools/validate-translations.py
        language: system
        files: ^frontend/src/i18n/locales/.*/translation\.json$
        pass_filenames: true

  # Prettier formatting for frontend files (local hook for ARM64 compatibility)
  - repo: local
    hooks:
      - id: prettier-frontend
        name: format frontend files with prettier
        entry: bash tools/run-prettier.sh
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        exclude: ^frontend/(node_modules|dist|dist-electron|build|release|coverage|package-lock\.json|tsconfig.*\.json)/
        pass_filenames: true

      # ESLint for frontend TypeScript/JavaScript files
      - id: eslint-frontend
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        types_or: [ts, tsx, javascript, jsx]
        files: ^frontend/
        exclude: ^frontend/(node_modules|dist|dist-electron|build|release|coverage)/
        pass_filenames: false

fix: remove API key content exposure from logs
  .github/workflows/release.yml
Due: check-workflow-yaml

refactor: switch macOS build from zip to DMG format
  .github/workflows/release.yml
Due: check-workflow-yaml

fix: enable signing and editing of Windows executables
  frontend/electron-builder.json
Due: prettier-frontend

fix: notarize .app bundle instead of zip file
  .github/workflows/release.yml
Due: check-workflow-yaml

debug: add verbose output and real-time logging for notarization
  .github/workflows/release.yml
Due: check-workflow-yaml

fix: use APPLE_API_KEY env var consistently in notarization step
  .github/workflows/release.yml
Due: check-workflow-yaml

fix: use valid entitlement key in inherit plist
  frontend/build/entitlements.mac.inherit.plist
Due: none

fix: use proper UUID pattern for submission ID extraction
  .github/workflows/release.yml
Due: check-workflow-yaml

fix: remove misleading security find-identity command
  .github/workflows/release.yml
Due: check-workflow-yaml

Refactor installation guides for Windows and macOS; remove outdated documents and streamline installation steps. Update FAQ to clarify security warnings during installation.
  .github/RELEASE_TEMPLATE.md
Due: none

fix: explicitly set shell to bash for PIPESTATUS compatibility
  .github/workflows/release.yml
Due: check-workflow-yaml

test: add minimal Electron app notarization test workflow
  .github/workflows/test-notarize.yml
Due: check-workflow-yaml

fix: update timestamp URL to use HTTPS for security
  .github/workflows/release.yml
Due: check-workflow-yaml

fix: disable electron-builder notarization in test workflow
  .github/workflows/test-notarize.yml
Due: check-workflow-yaml

fix: update timestamp URL to use HTTP for compatibility
  .github/workflows/release.yml
Due: check-workflow-yaml

Update .github/workflows/release.yml
  .github/workflows/release.yml
Due: check-workflow-yaml

fix: add explicit DMG signing step before notarization
  .github/workflows/release.yml
Due: check-workflow-yaml

fix: remove debug logging and fix bash 3.2 compatibility in notarization script
  .github/workflows/release.yml
Due: check-workflow-yaml

fix: remove test notarization workflow for minimal app
  .github/workflows/test-notarize.yml
Due: check-workflow-yaml

fix: address code review issues in macOS signing and notarization workflow
  .github/workflows/release.yml
  frontend/build/entitlements.mac.plist
  frontend/electron-builder.json
Due: check-workflow-yaml, prettier-frontend

fix: properly import certificate for DMG signing
  .github/workflows/release.yml
Due: check-workflow-yaml

refactor: Phase 2 & 3 - Replace scipy/numpy and axios dependencies
  .github/workflows/release.yml
  backend/tests/unit/utils/test_pure_statistics_reference.py
  frontend/package.json
  frontend/src/types/errors.ts
Due: check-workflow-yaml, prettier-frontend, eslint-frontend

fix: export ApiError from errors.ts and add to test mocks
  frontend/src/types/errors.ts
Due: prettier-frontend, eslint-frontend

Update .github/workflows/claude.yml
  .github/workflows/claude.yml
Due: check-workflow-yaml

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: check-workflow-yaml

Update .github/workflows/claude-code-review.yml
  .github/workflows/claude-code-review.yml
Due: check-workflow-yaml

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: check-workflow-yaml

feat: implement dynamic version tracking and automated release versioning
  .github/workflows/release.yml
  backend/src/ninebox/__init__.py
  backend/src/ninebox/core/config.py
  frontend/electron/main/index.ts
  frontend/electron/preload/index.ts
  frontend/src/components/dialogs/AboutDialog.tsx
  frontend/src/types/electron.d.ts
  pyproject.toml
Due: check-workflow-yaml, prettier-frontend, eslint-frontend

fix: use bash shell for version update step in release workflow
  .github/workflows/release.yml
Due: check-workflow-yaml

WIP: auto-update feature implementation
  .github/workflows/performance-check.yml
  .github/workflows/release.yml
  backend/src/ninebox/api/update_analytics.py
  backend/src/ninebox/main.py
  backend/src/ninebox/models/update_analytics.py
  backend/src/ninebox/services/update_analytics_service.py
  frontend/electron-builder.json
  frontend/electron/main/autoUpdater.ts
  frontend/electron/main/index.ts
  frontend/electron/preload/index.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/update/UpdateNotification.tsx
  frontend/src/hooks/__tests__/useElectronAPI.test.ts
  frontend/src/types/electron.d.ts
  frontend/src/types/window.d.ts
Due: check-workflow-yaml, prettier-frontend, eslint-frontend

Add write permissions for contents in visual baselines update workflow
  .github/workflows/update-visual-baselines.yml
Due: check-workflow-yaml

fix: update timestamp URL to use HTTP for macOS signing
  .github/workflows/release.yml
Due: check-workflow-yaml

Fix release workflow: disable macOS notarization
  .github/workflows/release.yml
Due: check-workflow-yaml

feat: improve test isolation and release process automation
  .github/RELEASE_TEMPLATE.md
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/release.yml
  CHANGELOG.md
  backend/src/ninebox/utils/pure_statistics.py
  backend/tests/conftest.py
  backend/tests/integration/conftest.py
  backend/tests/integration/test_calibration_summary_api.py
  backend/tests/integration/test_org_hierarchy_api.py
  backend/tests/integration/test_session_restore.py
  backend/tests/unit/api/test_update_analytics.py
  backend/tests/unit/core/test_config.py
  backend/tests/unit/core/test_database.py
  backend/tests/unit/services/test_database_coverage.py
  backend/tests/unit/services/test_dependencies_coverage.py
  backend/tests/unit/services/test_excel_exporter.py
  backend/tests/unit/services/test_llm_service.py
  backend/tests/unit/services/test_session_serializer.py
  backend/tests/unit/services/test_session_with_employees_fixture.py
  backend/tests/unit/services/test_update_analytics_service.py
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/generate-release-notes.js
  package-lock.json
  package.json
Due: check-workflow-yaml, prettier-frontend, eslint-frontend

fix: include auto-update metadata files in releases and improve error handling
  .github/workflows/release.yml
  frontend/electron/main/autoUpdater.ts
  frontend/src/components/update/UpdateNotification.tsx
  frontend/src/utils/errorMessages.ts
Due: check-workflow-yaml, prettier-frontend, eslint-frontend

fix: resolve tile spacing and border clipping issues
  frontend/src/components/grid/EmployeeTile.tsx
  frontend/src/components/grid/EmployeeTileList.tsx
  frontend/src/components/grid/__tests__/EmployeeTileList.test.tsx
  frontend/src/contexts/GridZoomContext.tsx
  frontend/src/theme/tokens.ts
Due: prettier-frontend, eslint-frontend

fix: resolve auto-update checksum mismatch and enable silent downloads
  .github/workflows/release.yml
  frontend/electron/main/autoUpdater.ts
  frontend/src/components/update/UpdateNotification.tsx
Due: check-workflow-yaml, prettier-frontend, eslint-frontend

fix: correct electron-builder config path in release workflow
  .github/workflows/release.yml
Due: check-workflow-yaml

feat: implement design-aligned notification system with banners and toasts
  backend/tests/conftest.py
  backend/tests/unit/core/test_database.py
  backend/tests/unit/services/test_database_coverage.py
  frontend/src/components/intelligence/CalibrationSummaryWithNotifications.tsx
  frontend/src/components/notifications/NotificationBanner.stories.tsx
  frontend/src/components/notifications/NotificationBanner.tsx
  frontend/src/components/notifications/Toast.stories.tsx
  frontend/src/components/notifications/Toast.tsx
  frontend/src/components/notifications/index.ts
  frontend/src/components/update/UpdateNotificationBanner.tsx
  frontend/src/contexts/NotificationContext.tsx
  internal-docs/design-system/README.md
  internal-docs/design-system/interaction-patterns.md
  internal-docs/design-system/notification-patterns.md
Due: prettier-frontend, eslint-frontend

feat: connect AI summary completion to notification toast system
  frontend/src/App.tsx
  frontend/src/components/notifications/AISummaryNotifications.tsx
  frontend/src/components/notifications/Toast.tsx
Due: prettier-frontend, eslint-frontend
