Repository bencan1a/9boxer: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-workflow-yaml, validate-translations, prettier-frontend, eslint-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# This configuration matches the CI checks in .github/workflows/ci.yml
# All checks here must pass before commits are allowed.
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$  # Exclude mkdocs.yml (has custom YAML tags)
      - id: check-toml
      - id: check-json
        exclude: ^frontend/tsconfig.*\.json$  # Exclude tsconfig.json (allows comments)
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key

  # Ruff linting - matches CI: make lint (ruff check .)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        name: ruff lint
        args: [--exit-non-zero-on-fix]
        # Note: We don't use --fix here to ensure developers see what would fail in CI

  # Ruff formatting - matches CI: make format-check (ruff format --check .)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff-format
        name: ruff format check

  # Type checking - matches CI: make type-check (mypy backend/src/ .github/scripts/)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        name: mypy type check
        files: ^(backend/src/|\.github/scripts/)
        additional_dependencies: [
          types-requests,
          pandas-stubs,
          types-openpyxl,
          pydantic>=2.0,
        ]

  # Security scanning - matches CI: make security (bandit -r backend/src/ .github/scripts/ -s B404,B603,B607)
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        name: bandit security scan
        args: [-s, B404,B603,B607]
        files: ^(backend/src/|\.github/scripts/)

  # YAML validation - matches CI: make check-yaml
  - repo: local
    hooks:
      - id: check-workflow-yaml
        name: check workflow YAML syntax
        entry: python
        language: system
        args: [-c, "import yaml; import sys; from pathlib import Path; [yaml.safe_load(f.read_text(encoding='utf-8')) for f in Path('.github/workflows').glob('*.yml')]"]
        files: ^\.github/workflows/.*\.yml$
        pass_filenames: false

      # i18n translation validation - validates JSON syntax, key parity, structure, and placeholders
      - id: validate-translations
        name: validate i18n translation files
        entry: python tools/validate-translations.py
        language: system
        files: ^frontend/src/i18n/locales/.*/translation\.json$
        pass_filenames: true

  # Prettier formatting for frontend files (local hook for ARM64 compatibility)
  - repo: local
    hooks:
      - id: prettier-frontend
        name: format frontend files with prettier
        entry: bash tools/run-prettier.sh
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        exclude: ^frontend/(node_modules|dist|dist-electron|build|release|coverage|package-lock\.json|tsconfig.*\.json)/
        pass_filenames: true

      # ESLint for frontend TypeScript/JavaScript files
      - id: eslint-frontend
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        types_or: [ts, tsx, javascript, jsx]
        files: ^frontend/
        exclude: ^frontend/(node_modules|dist|dist-electron|build|release|coverage)/
        pass_filenames: false

docs: enhance installation guides and add AI features configuration
  .github/RELEASE_TEMPLATE.md
  .github/workflows/release.yml
  INSTALL_MACOS.md
  README.md
  frontend/electron/main/index.ts
  frontend/src/components/intelligence/CalibrationSummarySection.tsx
  resources/user-guide/docs/INSTALL_MACOS.md
  resources/user-guide/docs/INSTALL_WINDOWS.md
  resources/user-guide/docs/installation.md
Due: check-workflow-yaml, prettier-frontend, eslint-frontend

fix: enhance production build with runtime config and frozen mode support
  backend/build_config/ninebox.spec
  backend/src/ninebox/services/llm_service.py
  frontend/electron/main/index.ts
  frontend/package.json
  frontend/scripts/generate-runtime-config.js
  frontend/src/components/intelligence/CalibrationSummarySection.tsx
Due: prettier-frontend, eslint-frontend

perf: optimize panel drag performance with threshold-based tile resizing
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/grid/EmployeeTile.tsx
  frontend/src/components/grid/EmployeeTileList.tsx
  frontend/src/components/grid/GridBox.tsx
  frontend/src/components/grid/NineBoxGrid.tsx
  frontend/src/contexts/GridZoomContext.tsx
  frontend/src/theme/tokens.ts
Due: prettier-frontend, eslint-frontend

feat: add debug build mode with enhanced logging and documentation
  frontend/electron/main/index.ts
  resources/user-guide/docs/DEBUG_BUILD.md
Due: prettier-frontend, eslint-frontend

fix: improve error handling and user feedback for AI summary generation
  .github/RELEASE_TEMPLATE.md
  backend/src/ninebox/services/calibration_summary_service.py
  frontend/src/components/intelligence/CalibrationSummarySection.tsx
Due: prettier-frontend, eslint-frontend

refactor: remove legacy fallback for LLM failures and update related tests
  backend/tests/e2e/test_calibration_agent_e2e.py
  backend/tests/e2e/test_frozen.py
  backend/tests/integration/test_calibration_summary_api.py
  backend/tests/unit/services/test_calibration_summary_service.py
Due: none

fix: add permissions for pull requests and issues in performance check workflow
  .github/workflows/performance-check.yml
Due: check-workflow-yaml

feat: implement code signing and notarization for macOS builds
  .github/RELEASE_TEMPLATE.md
  .github/workflows/release.yml
  frontend/build/entitlements.mac.inherit.plist
  frontend/build/entitlements.mac.plist
  frontend/electron-builder.json
Due: check-workflow-yaml, prettier-frontend

fix: improve macOS signing workflow and minimize entitlements
  .github/workflows/release.yml
  frontend/build/entitlements.mac.inherit.plist
  frontend/build/entitlements.mac.plist
Due: check-workflow-yaml

fix: correct notarize config and APPLE_API_KEY env var
  .github/workflows/release.yml
  frontend/electron-builder.json
Due: check-workflow-yaml, prettier-frontend

fix: use correct secret name APPLE_API_ISSUER
  .github/workflows/release.yml
Due: check-workflow-yaml

fix: restore entitlements required for PyInstaller backend
  frontend/build/entitlements.mac.plist
Due: none

debug: add verbose logging for macOS code signing
  .github/workflows/release.yml
Due: check-workflow-yaml

fix: use native notarytool instead of electron-builder notarization
  .github/workflows/release.yml
  frontend/electron-builder.json
Due: check-workflow-yaml, prettier-frontend

fix: add timeout and logging to notarization step
  .github/workflows/release.yml
Due: check-workflow-yaml

fix: enable signing and editing of Windows executables
  frontend/electron-builder.json
Due: prettier-frontend

debug: add verbose output and real-time logging for notarization
  .github/workflows/release.yml
Due: check-workflow-yaml

fix: notarize .app bundle instead of zip file
  .github/workflows/release.yml
Due: check-workflow-yaml

fix: remove API key content exposure from logs
  .github/workflows/release.yml
Due: check-workflow-yaml

refactor: switch macOS build from zip to DMG format
  .github/workflows/release.yml
  frontend/electron-builder.json
Due: check-workflow-yaml, prettier-frontend

Refactor installation guides for Windows and macOS; remove outdated documents and streamline installation steps. Update FAQ to clarify security warnings during installation.
  .github/RELEASE_TEMPLATE.md
  resources/user-guide/docs/INSTALL_MACOS.md
  resources/user-guide/docs/INSTALL_WINDOWS.md
  resources/user-guide/docs/faq.md
  resources/user-guide/docs/installation.md
Due: none

fix: use APPLE_API_KEY env var consistently in notarization step
  .github/workflows/release.yml
Due: check-workflow-yaml

fix: explicitly set shell to bash for PIPESTATUS compatibility
  .github/workflows/release.yml
Due: check-workflow-yaml

fix: use proper UUID pattern for submission ID extraction
  .github/workflows/release.yml
Due: check-workflow-yaml

fix: use valid entitlement key in inherit plist
  frontend/build/entitlements.mac.inherit.plist
Due: none

fix: remove misleading security find-identity command
  .github/workflows/release.yml
Due: check-workflow-yaml

test: add minimal Electron app notarization test workflow
  .github/workflows/test-notarize.yml
Due: check-workflow-yaml

fix: update timestamp URL to use HTTPS for security
  .github/workflows/release.yml
Due: check-workflow-yaml

fix: disable electron-builder notarization in test workflow
  .github/workflows/test-notarize.yml
Due: check-workflow-yaml

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: check-workflow-yaml

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: check-workflow-yaml

fix: update bundle ID to match registered domain
  frontend/electron-builder.json
Due: prettier-frontend

Update .github/workflows/claude.yml
  .github/workflows/claude.yml
Due: check-workflow-yaml

Update .github/workflows/claude-code-review.yml
  .github/workflows/claude-code-review.yml
Due: check-workflow-yaml

fix: address code review issues in macOS signing and notarization workflow
  .github/scripts/notarize-mac.sh
  .github/workflows/release.yml
  frontend/build/entitlements.mac.plist
  frontend/electron-builder.json
Due: check-workflow-yaml, prettier-frontend

fix: remove debug logging and fix bash 3.2 compatibility in notarization script
  .github/scripts/notarize-mac.sh
  .github/workflows/release.yml
Due: check-workflow-yaml
