Repository bencan1a/9boxer: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-workflow-yaml, validate-translations, prettier-frontend, eslint-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# This configuration matches the CI checks in .github/workflows/ci.yml
# All checks here must pass before commits are allowed.
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$  # Exclude mkdocs.yml (has custom YAML tags)
      - id: check-toml
      - id: check-json
        exclude: ^frontend/tsconfig.*\.json$  # Exclude tsconfig.json (allows comments)
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key

  # Ruff linting - matches CI: make lint (ruff check .)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        name: ruff lint
        args: [--exit-non-zero-on-fix]
        # Note: We don't use --fix here to ensure developers see what would fail in CI

  # Ruff formatting - matches CI: make format-check (ruff format --check .)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff-format
        name: ruff format check

  # Type checking - matches CI: make type-check (mypy backend/src/ .github/scripts/)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        name: mypy type check
        files: ^(backend/src/|\.github/scripts/)
        additional_dependencies: [
          types-requests,
          pandas-stubs,
          types-openpyxl,
          pydantic>=2.0,
        ]

  # Security scanning - matches CI: make security (bandit -r backend/src/ .github/scripts/ -s B404,B603,B607)
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        name: bandit security scan
        args: [-s, B404,B603,B607]
        files: ^(backend/src/|\.github/scripts/)

  # YAML validation - matches CI: make check-yaml
  - repo: local
    hooks:
      - id: check-workflow-yaml
        name: check workflow YAML syntax
        entry: python
        language: system
        args: [-c, "import yaml; import sys; from pathlib import Path; [yaml.safe_load(f.read_text(encoding='utf-8')) for f in Path('.github/workflows').glob('*.yml')]"]
        files: ^\.github/workflows/.*\.yml$
        pass_filenames: false

      # i18n translation validation - validates JSON syntax, key parity, structure, and placeholders
      - id: validate-translations
        name: validate i18n translation files
        entry: python tools/validate-translations.py
        language: system
        files: ^frontend/src/i18n/locales/.*/translation\.json$
        pass_filenames: true

  # Prettier formatting for frontend files (local hook for ARM64 compatibility)
  - repo: local
    hooks:
      - id: prettier-frontend
        name: format frontend files with prettier
        entry: bash tools/run-prettier.sh
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        exclude: ^frontend/(node_modules|dist|dist-electron|build|release|coverage|package-lock\.json|tsconfig.*\.json)/
        pass_filenames: true

      # ESLint for frontend TypeScript/JavaScript files
      - id: eslint-frontend
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        types_or: [ts, tsx, javascript, jsx]
        files: ^frontend/
        exclude: ^frontend/(node_modules|dist|dist-electron|build|release|coverage)/
        pass_filenames: false

Fix flaky performance tests with baseline tolerance architecture
  .github/workflows/ci.yml
  frontend/package.json
  frontend/src/components/grid/__tests__/EmployeeTile.performance.test.tsx
  frontend/src/components/grid/__tests__/NineBoxGrid.performance.test.tsx
  frontend/src/test-utils/performance-baselines.ts
  internal-docs/CONTEXT.md
  internal-docs/SUMMARY.md
  internal-docs/_generated/plans_index.md
Due: check-workflow-yaml, prettier-frontend, eslint-frontend

Fix remaining CI workflow failures
  .github/workflows/screenshot-coverage.yml
  backend/tests/unit/api/test_intelligence.py
  frontend/scripts/ensure-backend.cjs
Due: check-workflow-yaml, eslint-frontend

fix: implement Anthropic structured outputs for guaranteed valid JSON
  backend/src/ninebox/api/calibration_summary.py
  backend/src/ninebox/main.py
  backend/src/ninebox/services/calibration_summary_service.py
  backend/src/ninebox/services/intelligence_service.py
  backend/src/ninebox/services/llm_service.py
  backend/src/ninebox/services/preferences_manager.py
  backend/test_structured_outputs.py
  backend/tests/e2e/test_calibration_agent_e2e.py
  backend/tests/unit/services/test_calibration_summary_service.py
  backend/tests/unit/services/test_intelligence_service.py
  backend/tests/unit/services/test_llm_service.py
  frontend/src/components/intelligence/CalibrationSummarySection.tsx
  frontend/src/components/intelligence/InsightCard.tsx
  frontend/src/components/intelligence/__tests__/InsightCard.test.tsx
  frontend/src/hooks/useCalibrationSummary.ts
  frontend/src/hooks/useLLMSummary.ts
  frontend/src/services/api.ts
  frontend/src/types/api.ts
Due: prettier-frontend, eslint-frontend

feat: complete AI calibration summary agent-first architecture (Phases 1-5)
  LLM_SERVICE_UPDATE_SUMMARY.md
  TEST_SUMMARY.md
  agent-projects/ai-calibration-summary/DEVELOPER_GUIDE.md
  agent-projects/ai-calibration-summary/MIGRATION.md
  agent-projects/ai-calibration-summary/README.md
  backend/DATA_PACKAGING_SERVICE_SUMMARY.md
  backend/INTEGRATION_TEST_SUMMARY.md
  backend/config/calibration_agent_prompt.txt
  backend/demo_data_packaging.py
  backend/demo_package_output.json
  backend/src/ninebox/api/calibration_summary.py
  backend/src/ninebox/services/analysis_registry.py
  backend/src/ninebox/services/calibration_summary_service.py
  backend/src/ninebox/services/data_packaging_service.py
  backend/src/ninebox/services/intelligence_service.py
  backend/src/ninebox/services/preferences_manager.py
  backend/test_llm_agent_architecture.py
  backend/tests/e2e/test_calibration_agent_e2e.py.backup
  backend/tests/integration/test_calibration_summary_api.py
  backend/tests/unit/services/test_analysis_registry.py
  backend/tests/unit/services/test_calibration_summary_optional_fields.py
  backend/tests/unit/services/test_data_packaging_service.py
  backend/tests/unit/services/test_pii_anonymization.py
  backend/tests/unit/services/test_preferences_manager.py
  frontend/src/components/intelligence/AISummaryDisplay.tsx
  frontend/src/components/intelligence/CalibrationSummarySection.tsx
  frontend/src/components/intelligence/ClusterBadge.tsx
  frontend/src/hooks/__tests__/useCalibrationSummary.test.ts
  frontend/src/hooks/useLLMSummary.ts
  frontend/src/services/api.ts
  frontend/src/types/api.ts
Due: prettier-frontend, eslint-frontend

Migrate E2E export validation from xlsx to exceljs
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright/helpers/exportValidation.ts
Due: prettier-frontend, eslint-frontend

Fix E2E tests: use exceljs helper instead of direct xlsx import
  frontend/playwright/e2e-core/06-export.spec.ts
Due: prettier-frontend, eslint-frontend

Improve E2E test resilience with Linux runners and longer timeouts
  .github/workflows/ci.yml
  frontend/playwright.config.ts
  frontend/playwright/fixtures/worker-backend.ts
Due: check-workflow-yaml, prettier-frontend, eslint-frontend

fix: resolve all linting issues for CI compliance
  agent-projects/ai-calibration-summary/demo_data_packaging.py
  agent-projects/ai-calibration-summary/test_llm_agent_architecture.py
  backend/src/ninebox/services/analysis_registry.py
  backend/src/ninebox/services/data_packaging_service.py
  backend/test_optimized_llm_package.py
  frontend/src/components/intelligence/AISummaryDisplay.tsx
  frontend/src/components/intelligence/CalibrationSummarySection.tsx
  frontend/src/components/intelligence/ClusterBadge.tsx
  frontend/src/components/intelligence/DeviationChart.tsx
Due: prettier-frontend, eslint-frontend

fix: translate common UI strings in all language files
  frontend/src/hooks/__tests__/useCalibrationSummary.test.ts
  frontend/src/i18n/locales/cs/translation.json
  frontend/src/i18n/locales/de/translation.json
  frontend/src/i18n/locales/fr/translation.json
  frontend/src/i18n/locales/hi/translation.json
  frontend/src/i18n/locales/ja/translation.json
Due: validate-translations, prettier-frontend, eslint-frontend

fix: update AnomalySection tests for Collapse animation timing
  agent-projects/ai-calibration-summary/ARCHITECTURAL_REVIEW.md
  frontend/src/components/intelligence/__tests__/AnomalySection.test.tsx
Due: prettier-frontend, eslint-frontend

fix: change AnomalySection test assertions from toBeVisible to toBeInTheDocument
  frontend/src/components/intelligence/__tests__/AnomalySection.test.tsx
  frontend/src/components/intelligence/__tests__/IntelligenceSummary.test.tsx
  frontend/src/components/intelligence/atoms/__tests__/AnomalyCard.test.tsx
Due: prettier-frontend, eslint-frontend

fix: add missing sessionStore selectors to useCalibrationSummary test mocks
  frontend/src/hooks/__tests__/useCalibrationSummary.test.ts
Due: prettier-frontend, eslint-frontend

fix: add missing Spanish translations and skip flaky performance tests
  frontend/src/components/grid/__tests__/EmployeeTile.performance.test.tsx
  frontend/src/components/grid/__tests__/NineBoxGrid.performance.test.tsx
  frontend/src/i18n/locales/es/translation.json
Due: validate-translations, prettier-frontend, eslint-frontend

refactor: consolidate duplicated insight generation logic (issue #196)
  backend/src/ninebox/services/calibration_summary_service.py
  backend/src/ninebox/services/insight_generator.py
  backend/tests/integration/test_insight_consolidation.py
  backend/tests/unit/services/test_insight_generator.py
Due: none

fix: remove 300+ lines of deprecated LLM code (Issue #197)
  backend/src/ninebox/api/calibration_summary.py
  backend/src/ninebox/services/llm_service.py
  backend/tests/unit/services/test_llm_service.py
Due: none

feat: enforce analysis registry usage pattern (Issue #198)
  backend/src/ninebox/services/analysis_registry.py
  backend/src/ninebox/services/intelligence_service.py
Due: none

docs: update screenshot coverage report [skip ci]
  .screenshot-coverage-report.json
  .screenshot-coverage-report.md
Due: none

fix: skip flaky memory leak test in fast test suite
  frontend/src/components/grid/__tests__/NineBoxGrid.memory.test.tsx
  resources/user-guide/docs/stylesheets/design-tokens.css
Due: prettier-frontend, eslint-frontend
