Repository bencan1a/9boxer: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-workflow-yaml, validate-translations, prettier-frontend, eslint-frontend

check-workflow-yaml:
  name: check workflow YAML syntax
  entry: python
  language: system
  args:
  - -c
  - import yaml; import sys; from pathlib import Path; [yaml.safe_load(f.read_text(encoding='utf-8')) for f in Path('.github/workflows').glob('*.yml')]
  pass_filenames: false

validate-translations:
  name: validate i18n translation files
  entry: python tools/validate-translations.py
  language: system
  pass_filenames: true

prettier-frontend:
  name: format frontend files with prettier
  entry: bash tools/run-prettier.sh
  language: system
  pass_filenames: true

eslint-frontend:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

feat: add EmptyState component with Storybook stories and unit tests
  frontend/src/components/EmptyState.stories.tsx
  frontend/src/components/EmptyState.tsx
  frontend/src/components/__tests__/EmptyState.test.tsx
Due: prettier-frontend, eslint-frontend

feat: add sample data generation with rich dataset and UI integration
  backend/src/ninebox/api/employees.py
  backend/src/ninebox/services/sample_data_generator.py
  backend/tests/conftest.py
  backend/tests/integration/test_sample_data_api.py
  backend/tests/unit/services/test_employee_service.py
  backend/tests/unit/services/test_sample_data_generator.py
  frontend/playwright/e2e/sample-data-flow.spec.ts
  frontend/src/components/branding/Logo.stories.tsx
  frontend/src/components/branding/Logo.tsx
  frontend/src/components/branding/index.ts
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/dashboard/FileMenu.tsx
  frontend/src/components/dashboard/FileMenuButton.tsx
  frontend/src/components/dashboard/FileNameDisplay.tsx
  frontend/src/components/dashboard/PureAppBar.tsx
  frontend/src/components/dialogs/LoadSampleDialog.stories.tsx
  frontend/src/components/dialogs/LoadSampleDialog.tsx
  frontend/src/services/api.ts
  frontend/src/services/sampleDataService.ts
  internal-docs/architecture/ARCHITECTURE_QUICK_REFERENCE.md
  internal-docs/architecture/SAMPLE_DATA_GENERATION.md
  resources/user-guide/docs/getting-started.md
Due: prettier-frontend, eslint-frontend

fix(branding): correct logo border color and add icon generation tools
  frontend/build/README-ICONS.md
  frontend/build/icon.ico
  frontend/build/icon.iconset/icon_128x128.png
  frontend/build/icon.iconset/icon_128x128@2x.png
  frontend/build/icon.iconset/icon_16x16.png
  frontend/build/icon.iconset/icon_16x16@2x.png
  frontend/build/icon.iconset/icon_256x256.png
  frontend/build/icon.iconset/icon_256x256@2x.png
  frontend/build/icon.iconset/icon_32x32.png
  frontend/build/icon.iconset/icon_32x32@2x.png
  frontend/build/icon.iconset/icon_512x512.png
  frontend/build/icon.iconset/icon_512x512@2x.png
  frontend/build/icon.png
  frontend/build/icon_1024x1024.png
  frontend/build/icon_128x128.png
  frontend/build/icon_16x16.png
  frontend/build/icon_256x256.png
  frontend/build/icon_32x32.png
  frontend/build/icon_48x48.png
  frontend/build/icon_512x512.png
  frontend/build/icon_64x64.png
  frontend/scripts/create_icns.py
  frontend/scripts/create_icns.ts
  frontend/scripts/generate_logo_icons.ts
  frontend/src/components/branding/Logo.stories.tsx
  frontend/src/components/branding/Logo.tsx
Due: prettier-frontend, eslint-frontend

refactor(dashboard): remove redundant AppBar and FileMenu components
  frontend/src/components/dashboard/AppBar.tsx
  frontend/src/components/dashboard/FileMenu.tsx
  frontend/src/components/dashboard/__tests__/AppBar.test.tsx
  frontend/src/components/dashboard/__tests__/FileMenu.test.tsx
  frontend/src/components/dashboard/index.ts
Due: prettier-frontend, eslint-frontend

feat(sample-data): integrate sample data loading UI
  agent-projects/rich-sample-data-generator/future-enhancements.md
  backend/src/ninebox/api/employees.py
  backend/src/ninebox/api/session.py
  backend/tests/integration/test_sample_data_api.py
  backend/tests/unit/services/test_sample_data_generator.py
  frontend/src/components/dashboard/AppBarContainer.tsx
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/dashboard/FileMenuButton.tsx
  frontend/src/components/dashboard/PureAppBar.tsx
  frontend/src/components/dialogs/LoadSampleDialog.tsx
  frontend/src/services/api.ts
  frontend/src/services/sampleDataService.ts
  frontend/src/store/sessionStore.ts
  frontend/src/types/api.ts
Due: prettier-frontend, eslint-frontend

fix(i18n): remove duplicate translation keys in non-English locales
  frontend/src/i18n/locales/cs/translation.json
  frontend/src/i18n/locales/de/translation.json
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/es/translation.json
  frontend/src/i18n/locales/fr/translation.json
  frontend/src/i18n/locales/hi/translation.json
  frontend/src/i18n/locales/ja/translation.json
Due: validate-translations, prettier-frontend

test: improve backend test infrastructure and fixtures
  backend/tests/FIXTURE_MIGRATION.md
  backend/tests/FIXTURE_QUICK_REFERENCE.md
  backend/tests/conftest.py
  backend/tests/integration/test_session_integration.py
  backend/tests/integration/test_session_restore.py
  backend/tests/unit/services/test_statistics_service.py
Due: none

feat(frontend): enhance UI components and theme consistency
  frontend/electron/main/index.ts
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright/e2e/toolbar-interactions.spec.ts
  frontend/playwright/helpers/upload.ts
  frontend/src/App.tsx
  frontend/src/components/common/ConfirmDialog.tsx
  frontend/src/components/common/EmptyState.tsx
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/components/common/FileUploadDialog.tsx
  frontend/src/components/common/LanguageSelector.tsx
  frontend/src/components/dashboard/FilterDrawer.tsx
  frontend/src/components/panel/DetailsTab.tsx
  frontend/src/components/panel/IntelligenceTab.tsx
  frontend/src/components/panel/StatisticsTab.tsx
  frontend/src/theme/theme.ts
Due: prettier-frontend, eslint-frontend

docs: update internal documentation and user guide
  internal-docs/CONTEXT.md
  internal-docs/_generated/plans_index.md
  internal-docs/architecture/SECURITY_MODEL.md
  internal-docs/design-system/README.md
  internal-docs/design-system/accessibility-standards.md
  internal-docs/design-system/component-guidelines.md
  internal-docs/design-system/component-inventory.md
  internal-docs/design-system/layout-patterns.md
  internal-docs/i18n/README.md
  internal-docs/i18n/migration-patterns.md
  resources/user-guide/docs/getting-started.md
  resources/user-guide/docs/index.md
  resources/user-guide/docs/quickstart.md
Due: none

chore: add file load/save UX enhancement project plan
  agent-projects/file-load-save-ux/plan.md
Due: none

fix drag overlay styling for employee tile
  frontend/src/components/grid/EmployeeTile.tsx
  frontend/src/components/grid/NineBoxGrid.tsx
  frontend/src/components/grid/__tests__/EmployeeTile.test.tsx
Due: prettier-frontend, eslint-frontend

docs: update screenshot coverage report [skip ci]
  .screenshot-coverage-badge.json
  .screenshot-coverage-report.json
  .screenshot-coverage-report.md
Due: none

feat: add original position tracking and improve employee tile layout
  backend/src/ninebox/models/employee.py
  backend/src/ninebox/services/session_manager.py
  frontend/src/components/grid/EmployeeTile.stories.tsx
  frontend/src/components/grid/EmployeeTile.tsx
  frontend/src/components/grid/__tests__/EmployeeTile.test.tsx
  frontend/src/types/employee.ts
Due: prettier-frontend, eslint-frontend

feat: add interactive screenshot gallery review tool
  agent-projects/screenshot-storybook-migration/SCREENSHOT_GALLERY.html
  agent-projects/screenshot-storybook-migration/SCREENSHOT_REGISTRY.md
  agent-projects/screenshot-storybook-migration/interactive-gallery-complete.md
  agent-projects/screenshot-storybook-migration/phase-1-complete.md
  agent-projects/screenshot-storybook-migration/phase-1c-summary.md
  agent-projects/screenshot-storybook-migration/phase-5-complete.md
  agent-projects/screenshot-storybook-migration/phase4-viewcontrols-report.md
  agent-projects/screenshot-storybook-migration/plan.md
  frontend/scripts/generate-screenshots.cjs
  resources/user-guide/SCREENSHOT_GALLERY.html
  resources/user-guide/docs/images/screenshots/workflow/calibration-intelligence-anomalies.png
  tools/README_SCREENSHOT_GALLERY.md
  tools/generate_screenshot_gallery.py
  tools/screenshot_gallery.py
Due: eslint-frontend

fix: align ViewControls toolbar with grid and right panel
  frontend/src/components/common/ViewControls.tsx
  frontend/src/components/dashboard/DashboardPage.tsx
Due: prettier-frontend, eslint-frontend

fix: wire up sample data button in empty state
  frontend/src/components/dashboard/DashboardPage.tsx
Due: prettier-frontend, eslint-frontend

fix: add missing i18n keys for recent files menu and dialogs
  frontend/src/i18n/locales/cs/translation.json
  frontend/src/i18n/locales/de/translation.json
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/es/translation.json
  frontend/src/i18n/locales/fr/translation.json
  frontend/src/i18n/locales/hi/translation.json
  frontend/src/i18n/locales/ja/translation.json
Due: validate-translations, prettier-frontend

refactor(screenshots): Phase 1-3 screenshot cleanup - remove duplicates, fix viewports, update story refs
  agent-projects/screenshot-storybook-migration/PROGRESS_UPDATE.md
  agent-projects/screenshot-storybook-migration/screenshot-cleanup-plan.md
  frontend/playwright/screenshots/config.ts
  frontend/playwright/screenshots/workflows/filters-storybook.ts
  frontend/playwright/screenshots/workflows/storybook-components.ts
Due: prettier-frontend, eslint-frontend

refactor(stats): use componentized DistributionTable and GroupingIndicator
  frontend/src/components/panel/StatisticsTab.tsx
  frontend/src/hooks/useStatistics.ts
Due: prettier-frontend, eslint-frontend

fix: balance grid padding to center NineBoxGrid component
  frontend/src/components/grid/Axis.tsx
  frontend/src/components/grid/NineBoxGrid.tsx
Due: prettier-frontend, eslint-frontend

Path conditions:
  check-workflow-yaml: any of: ^\.github/workflows/.*\.yml$
  validate-translations: any of: ^frontend/src/i18n/locales/.*/translation\.json$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|json)$, but not: ^frontend/(node_modules|dist|dist-electron|build|release|coverage|package-lock\.json|tsconfig.*\.json)/
  eslint-frontend: any of: ^frontend/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^frontend/(node_modules|dist|dist-electron|build|release|coverage)/)
