Repository bencan1a/9boxer: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-workflow-yaml, validate-translations, prettier-frontend, eslint-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# This configuration matches the CI checks in .github/workflows/ci.yml
# All checks here must pass before commits are allowed.
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$  # Exclude mkdocs.yml (has custom YAML tags)
      - id: check-toml
      - id: check-json
        exclude: ^frontend/tsconfig.*\.json$  # Exclude tsconfig.json (allows comments)
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key

  # Ruff linting - matches CI: make lint (ruff check .)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        name: ruff lint
        args: [--exit-non-zero-on-fix]
        # Note: We don't use --fix here to ensure developers see what would fail in CI

  # Ruff formatting - matches CI: make format-check (ruff format --check .)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff-format
        name: ruff format check

  # Type checking - matches CI: make type-check (mypy backend/src/ .github/scripts/)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        name: mypy type check
        files: ^(backend/src/|\.github/scripts/)
        additional_dependencies: [
          types-requests,
          pandas-stubs,
          types-openpyxl,
          pydantic>=2.0,
        ]

  # Security scanning - matches CI: make security (bandit -r backend/src/ .github/scripts/ -s B404,B603,B607)
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        name: bandit security scan
        args: [-s, B404,B603,B607]
        files: ^(backend/src/|\.github/scripts/)

  # YAML validation - matches CI: make check-yaml
  - repo: local
    hooks:
      - id: check-workflow-yaml
        name: check workflow YAML syntax
        entry: python
        language: system
        args: [-c, "import yaml; import sys; from pathlib import Path; [yaml.safe_load(f.read_text(encoding='utf-8')) for f in Path('.github/workflows').glob('*.yml')]"]
        files: ^\.github/workflows/.*\.yml$
        pass_filenames: false

      # i18n translation validation - validates JSON syntax, key parity, structure, and placeholders
      - id: validate-translations
        name: validate i18n translation files
        entry: python tools/validate-translations.py
        language: system
        files: ^frontend/src/i18n/locales/.*/translation\.json$
        pass_filenames: true

  # Prettier formatting for frontend files (local hook for ARM64 compatibility)
  - repo: local
    hooks:
      - id: prettier-frontend
        name: format frontend files with prettier
        entry: bash tools/run-prettier.sh
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        exclude: ^frontend/(node_modules|dist|dist-electron|build|release|coverage|package-lock\.json|tsconfig.*\.json)/
        pass_filenames: true

      # ESLint for frontend TypeScript/JavaScript files
      - id: eslint-frontend
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        types_or: [ts, tsx, javascript, jsx]
        files: ^frontend/
        exclude: ^frontend/(node_modules|dist|dist-electron|build|release|coverage)/
        pass_filenames: false

Update .github/actions/update-visual-baselines/action.yml
  .github/actions/update-visual-baselines/action.yml
Due: none

fix: enhance git diff handling in baseline update workflows
  .github/workflows/update-visual-baselines.yml
  .github/workflows/visual-regression-smart.yml
Due: check-workflow-yaml

Update frontend/scripts/update-visual-baselines-smart.ts
  frontend/scripts/update-visual-baselines-smart.ts
Due: prettier-frontend, eslint-frontend

Update .github/workflows/visual-regression-smart.yml
  .github/workflows/visual-regression-smart.yml
Due: check-workflow-yaml

Update tools/hooks/check-root-docs.sh
  tools/hooks/check-root-docs.sh
Due: none

fix: improve visual regression workflow reliability and security
  .github/workflows/visual-regression-smart.yml
  frontend/scripts/analyze-visual-scope.test.ts
  frontend/scripts/analyze-visual-scope.ts
  frontend/vitest.config.ts
Due: check-workflow-yaml, prettier-frontend, eslint-frontend

feat: Scope-aware visual regression testing system (#275) (#277)
  .github/workflows/release.yml
  .github/workflows/update-visual-baselines.yml
  .github/workflows/visual-regression-smart.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  agent-projects/dependency-optimization.md
  agent-projects/employee-search-implementation.md
  agent-projects/filter-unification-and-enhancement.md
  agent-projects/issue-275/GLOBAL-CHANGE-WORKFLOW.md
  agent-projects/issue-275/IMPLEMENTATION-SUMMARY-275.md
  agent-projects/issue-275/README.md
  agent-projects/issue-275/TESTING-GUIDE-275.md
  frontend/package.json
  frontend/scripts/README-visual-scope.md
  frontend/scripts/analyze-visual-scope.test.ts
  frontend/scripts/analyze-visual-scope.ts
  frontend/scripts/update-visual-baselines-smart.ts
  frontend/vitest.config.ts
  tools/hooks/check-root-docs.sh
Due: check-workflow-yaml, prettier-frontend, eslint-frontend

fix: format update-visual-baselines-smart.ts with prettier
  frontend/scripts/update-visual-baselines-smart.ts
Due: prettier-frontend, eslint-frontend

Refactor update-visual-baselines workflow to eliminate duplication (#282)
  .github/actions/update-visual-baselines/action.yml
  .github/workflows/update-visual-baselines.yml
  .gitignore
  frontend/scripts/update-visual-baselines-smart.ts
Due: check-workflow-yaml, prettier-frontend, eslint-frontend

feat: add action to update visual baselines with branching logic
  .github/actions/update-visual-baselines/action.yml
Due: none

chore: remove vitepress dependency from package.json
  .github/workflows/build-electron.yml
  .github/workflows/release.yml
  frontend/package-lock.json
  frontend/package.json
Due: check-workflow-yaml, prettier-frontend

fix: Address security vulnerabilities in git command execution and shell operations (#286)
  .github/actions/update-visual-baselines/action.yml
  .github/workflows/visual-regression-smart.yml
  frontend/scripts/README-visual-scope.md
  frontend/scripts/analyze-visual-scope.ts
  frontend/scripts/update-visual-baselines-smart.ts
  tools/hooks/check-root-docs.sh
Due: check-workflow-yaml, prettier-frontend, eslint-frontend

Update action.yml
  .github/actions/update-visual-baselines/action.yml
Due: none

fix: Handle git diff exit codes properly for Windows compatibility (#288)
  .github/actions/update-visual-baselines/action.yml
Due: none

feat: add automatic PR creation for visual baseline updates
  .github/actions/update-visual-baselines/action.yml
  .github/workflows/update-visual-baselines.yml
Due: check-workflow-yaml

fix: Fix weekly regression tests coverage reporting
  .github/workflows/weekly.yml
Due: check-workflow-yaml

fix: Add CI validation and env vars for Anthropic API key bundling
  .github/workflows/build-electron.yml
  frontend/scripts/generate-runtime-config.js
Due: check-workflow-yaml, prettier-frontend, eslint-frontend

fix: Add --publish never flag to build-electron.yml
  .github/workflows/build-electron.yml
Due: check-workflow-yaml

fix: Disable automatic coverage report generation during tests
  .github/workflows/weekly.yml
Due: check-workflow-yaml

fix: Add coverage combine step to merge data from test runs
  .github/workflows/weekly.yml
Due: check-workflow-yaml

fix: Run unit and integration tests together for proper combined coverage
  .github/workflows/weekly.yml
Due: check-workflow-yaml

fix: Combine parallel coverage files from pytest-xdist workers
  .github/workflows/weekly.yml
Due: check-workflow-yaml

fix: Enable parallel coverage in pyproject.toml
  pyproject.toml
Due: none

fix: Use pytest-cov multiprocessing concurrency for xdist
  .github/workflows/weekly.yml
  pyproject.toml
Due: check-workflow-yaml

fix: Disable parallel execution for accurate coverage
  .github/workflows/weekly.yml
Due: check-workflow-yaml

fix: Include backend/tests/e2e/ directory in coverage run
  .github/workflows/weekly.yml
Due: check-workflow-yaml

fix: Use --cov=. to match VSCode coverage scope
  .github/workflows/weekly.yml
Due: check-workflow-yaml

fix: Resolve database state corruption when Performance and Unit tests run together
  backend/tests/performance/conftest.py
  backend/tests/performance/test_import_performance.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/test_database.py
Due: none

fix: Prevent performance tests from overwriting coverage data
  .github/workflows/weekly.yml
Due: check-workflow-yaml

chore: Enhanced test isolation and updated gitignore
  .gitignore
  backend/tests/conftest.py
  resources/user-guide-vitepress/docs/.vitepress/config.ts
Due: none

feat: Add macOS signing to build-electron and create notarization test workflow
  .github/workflows/build-electron.yml
  .github/workflows/test-macos-notarization.yml
Due: check-workflow-yaml

feat: Enable electron-builder built-in notarization for macOS
  .github/workflows/release.yml
  frontend/electron-builder.json
Due: check-workflow-yaml, prettier-frontend

fix: Set notarize to boolean instead of object
  frontend/electron-builder.json
Due: prettier-frontend
