Repository bencan1a/9boxer: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-workflow-yaml, validate-translations, prettier-frontend, eslint-frontend

check-workflow-yaml:
  name: check workflow YAML syntax
  entry: python
  language: system
  args:
  - -c
  - import yaml; import sys; from pathlib import Path; [yaml.safe_load(f.read_text(encoding='utf-8')) for f in Path('.github/workflows').glob('*.yml')]
  pass_filenames: false

validate-translations:
  name: validate i18n translation files
  entry: python tools/validate-translations.py
  language: system
  pass_filenames: true

prettier-frontend:
  name: format frontend files with prettier
  entry: bash tools/run-prettier.sh
  language: system
  pass_filenames: true

eslint-frontend:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

chore: fix generate-docs-tokens script for ES modules
  .screenshot-coverage-badge.json
  .screenshot-coverage-report.json
  frontend/scripts/generate-docs-tokens.ts
  frontend/src/components/common/ViewControls.stories.tsx
  frontend/src/components/dashboard/__tests__/RecentFileLoadingWorkflow.test.tsx
  frontend/src/components/settings/SettingsDialog.stories.tsx
Due: prettier-frontend, eslint-frontend

fix: correct ESLint MUI import restriction to allow path imports
  frontend/.eslintrc.cjs
  frontend/scripts/check-bundle-size.mjs
  frontend/scripts/cleanup-dev-servers.mjs
  frontend/scripts/regenerate-affected-screenshots.mjs
  frontend/src/components/common/ConnectionStatus.stories.tsx
  frontend/src/components/common/ConnectionStatus.tsx
  frontend/src/components/common/DevModeIndicator.tsx
  resources/user-guide/docs/stylesheets/design-tokens.css
Due: prettier-frontend, eslint-frontend

chore: change hook stages from push to pre-push for bundle size checks
  .pre-commit-config.yaml
Due: none

Update screenshots and design tokens
  agent-projects/stroybook-cleanup/STORYBOOK-ORGANIZATION.md
  agent-projects/stroybook-cleanup/story-analysis-report.md
  agent-projects/stroybook-cleanup/test-menu.cjs
  agent-projects/stroybook-cleanup/test-menu.js
  agent-projects/stroybook-cleanup/test-native-dialogs.cjs
  agent-projects/stroybook-cleanup/test-results.txt
  internal-docs/contributing/screenshot-guide.md
  internal-docs/testing/performance-testing-analysis.md
  resources/user-guide/docs/images/screenshots/details-panel/flag-badges.png
  resources/user-guide/docs/images/screenshots/details-panel/flags-ui.png
  resources/user-guide/docs/images/screenshots/details-panel/reporting-chain-clickable.png
  resources/user-guide/docs/images/screenshots/donut/donut-mode-active-layout.png
  resources/user-guide/docs/images/screenshots/employee-tile-normal.png
  resources/user-guide/docs/images/screenshots/file-ops/apply-changes-dialog-default.png
  resources/user-guide/docs/images/screenshots/file-ops/apply-changes-dialog-save-as.png
  resources/user-guide/docs/images/screenshots/file-ops/file-error-fallback.png
  resources/user-guide/docs/images/screenshots/file-ops/file-menu-recent-files.png
  resources/user-guide/docs/images/screenshots/file-ops/unsaved-changes-dialog.png
  resources/user-guide/docs/images/screenshots/filters/filters-multiple-active.png
  resources/user-guide/docs/images/screenshots/filters/filters-panel-expanded.png
  resources/user-guide/docs/images/screenshots/filters/flags-section.png
  resources/user-guide/docs/images/screenshots/grid-normal.png
  resources/user-guide/docs/images/screenshots/quickstart/quickstart-grid-populated.png
  resources/user-guide/docs/images/screenshots/quickstart/quickstart-load-sample-dialog.png
  resources/user-guide/docs/images/screenshots/quickstart/quickstart-upload-dialog.png
  resources/user-guide/docs/images/screenshots/view-controls/fullscreen-mode.png
  resources/user-guide/docs/images/screenshots/view-controls/settings-dialog.png
  resources/user-guide/docs/images/screenshots/workflow/making-changes-orange-border.png
  resources/user-guide/docs/stylesheets/design-tokens.css
Due: none

chore: update generated timestamp in design tokens CSS
  resources/user-guide/docs/stylesheets/design-tokens.css
Due: none

test: update zoom tests to match new default (100% instead of 80%)
  frontend/src/components/common/__tests__/ViewControls.test.tsx
  frontend/src/components/common/__tests__/ZoomControls.test.tsx
  resources/user-guide/docs/stylesheets/design-tokens.css
Due: prettier-frontend, eslint-frontend

chore: improve pre-push hook error messages
  .pre-commit-config.yaml
  resources/user-guide/docs/stylesheets/design-tokens.css
  tools/run-bundle-check-with-message.sh
  tools/run-tests-with-message.sh
Due: none

docs: update screenshot coverage report [skip ci]
  .screenshot-coverage-badge.json
  .screenshot-coverage-report.json
  .screenshot-coverage-report.md
Due: none

feat: make Excel column name matching case-insensitive
  backend/src/ninebox/services/excel_parser.py
  resources/user-guide/docs/employee-data.md
  resources/user-guide/docs/troubleshooting.md
  resources/user-guide/docs/uploading-data.md
Due: none

docs: update screenshot coverage report [skip ci]
  .screenshot-coverage-report.json
  .screenshot-coverage-report.md
Due: none

feat: add AboutDialog component with help menu fix
  frontend/scripts/generate_logo_icons.ts
  frontend/src/components/dashboard/AppBarContainer.tsx
  frontend/src/components/dialogs/AboutDialog.stories.tsx
  frontend/src/components/dialogs/AboutDialog.tsx
  frontend/src/i18n/locales/en/translation.json
Due: validate-translations, prettier-frontend, eslint-frontend

fix: update import statement to comply with linting rules
  backend/src/ninebox/api/session.py
Due: none

docs: restructure calibration documentation with dual-track WHY/HOW approach
  agent-projects/calibration-docs-improvement/01-initial-review.md
  agent-projects/calibration-docs-improvement/02-org-health-review.md
  agent-projects/calibration-docs-improvement/03-implementation-plan.md
  agent-projects/calibration-docs-improvement/04-task-tracker.md
  mkdocs.yml
  resources/user-guide/docs/best-practices.md
  resources/user-guide/docs/faq.md
  resources/user-guide/docs/getting-started.md
  resources/user-guide/docs/index.md
  resources/user-guide/docs/new-to-9box.md
  resources/user-guide/docs/overview.md
  resources/user-guide/docs/quickstart.md
  resources/user-guide/docs/reference/cultural-calibration.md
  resources/user-guide/docs/reference/difficult-scenarios.md
  resources/user-guide/docs/reference/filtering-decision-tree.md
  resources/user-guide/docs/reference/multi-year-tracking.md
  resources/user-guide/docs/reference/post-calibration-conversations.md
  resources/user-guide/docs/reference/power-dynamics-and-politics.md
  resources/user-guide/docs/reference/psychological-safety.md
  resources/user-guide/docs/workflows/adding-notes.md
  resources/user-guide/docs/workflows/analyzing-distribution.md
  resources/user-guide/docs/workflows/identifying-flight-risks.md
  resources/user-guide/docs/workflows/making-changes.md
  resources/user-guide/docs/workflows/talent-calibration.md
Due: none

fix: handle undefined values in filter options extraction
  .claude/commands/new-feature.md
  agent-projects/edge-case-testing-enhancement/edge-case-testing.md
  frontend/src/hooks/__tests__/useFilters.edge-cases.test.ts
  frontend/src/hooks/useFilters.ts
  frontend/src/test/edgeCaseFactory.ts
Due: prettier-frontend, eslint-frontend

docs: update overview.md to align with calibration user journey
  resources/user-guide/docs/overview.md
Due: none

Path conditions:
  check-workflow-yaml: any of: ^\.github/workflows/.*\.yml$
  validate-translations: any of: ^frontend/src/i18n/locales/.*/translation\.json$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|json)$, but not: ^frontend/(node_modules|dist|dist-electron|build|release|coverage|package-lock\.json|tsconfig.*\.json)/
  eslint-frontend: any of: ^frontend/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^frontend/(node_modules|dist|dist-electron|build|release|coverage)/)
