Repository bencan1a/9boxer: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-workflow-yaml, validate-translations, prettier-frontend, eslint-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# This configuration matches the CI checks in .github/workflows/ci.yml
# All checks here must pass before commits are allowed.
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$  # Exclude mkdocs.yml (has custom YAML tags)
      - id: check-toml
      - id: check-json
        exclude: ^frontend/tsconfig.*\.json$  # Exclude tsconfig.json (allows comments)
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key

  # Ruff linting - matches CI: make lint (ruff check .)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        name: ruff lint
        args: [--exit-non-zero-on-fix]
        # Note: We don't use --fix here to ensure developers see what would fail in CI

  # Ruff formatting - matches CI: make format-check (ruff format --check .)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff-format
        name: ruff format check

  # Type checking - matches CI: make type-check (mypy backend/src/ .github/scripts/)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        name: mypy type check
        files: ^(backend/src/|\.github/scripts/)
        additional_dependencies: [
          types-requests,
          pandas-stubs,
          types-openpyxl,
          pydantic>=2.0,
        ]

  # Security scanning - matches CI: make security (bandit -r backend/src/ .github/scripts/ -s B404,B603,B607)
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        name: bandit security scan
        args: [-s, B404,B603,B607]
        files: ^(backend/src/|\.github/scripts/)

  # YAML validation - matches CI: make check-yaml
  - repo: local
    hooks:
      - id: check-workflow-yaml
        name: check workflow YAML syntax
        entry: python
        language: system
        args: [-c, "import yaml; import sys; from pathlib import Path; [yaml.safe_load(f.read_text(encoding='utf-8')) for f in Path('.github/workflows').glob('*.yml')]"]
        files: ^\.github/workflows/.*\.yml$
        pass_filenames: false

      # i18n translation validation - validates JSON syntax, key parity, structure, and placeholders
      - id: validate-translations
        name: validate i18n translation files
        entry: python tools/validate-translations.py
        language: system
        files: ^frontend/src/i18n/locales/.*/translation\.json$
        pass_filenames: true

  # Prettier formatting for frontend files (local hook for ARM64 compatibility)
  - repo: local
    hooks:
      - id: prettier-frontend
        name: format frontend files with prettier
        entry: bash tools/run-prettier.sh
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        exclude: ^frontend/(node_modules|dist|dist-electron|build|release|coverage|package-lock\.json|tsconfig.*\.json)/
        pass_filenames: true

      # ESLint for frontend TypeScript/JavaScript files
      - id: eslint-frontend
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        types_or: [ts, tsx, javascript, jsx]
        files: ^frontend/
        exclude: ^frontend/(node_modules|dist|dist-electron|build|release|coverage)/
        pass_filenames: false

fix: skip flaky memory leak test in fast test suite
  frontend/src/components/grid/__tests__/NineBoxGrid.memory.test.tsx
  resources/user-guide/docs/stylesheets/design-tokens.css
Due: prettier-frontend, eslint-frontend

fix: remove timestamp from generated design-tokens.css
  frontend/playwright/e2e-core/13-org-hierarchy-filter.spec.ts
  frontend/playwright/helpers/panelInteractions.ts
  frontend/playwright/helpers/ui.ts
  frontend/scripts/generate-docs-tokens.ts
  resources/user-guide/docs/stylesheets/design-tokens.css
Due: prettier-frontend, eslint-frontend

fix: simplify test for nested hierarchy filter and improve reliability
  frontend/playwright/e2e-core/13-org-hierarchy-filter.spec.ts
Due: prettier-frontend, eslint-frontend

fix: remove deprecated package_for_agent() method (security risk)
  backend/src/ninebox/services/data_packaging_service.py
  backend/tests/unit/services/test_data_packaging_service.py
  backend/tests/unit/services/test_pii_anonymization.py
Due: none

fix: remove deprecated useLLMSummary hook (issue #209)
  frontend/src/hooks/useLLMSummary.ts
Due: prettier-frontend, eslint-frontend

feat: complete non-English translations for calibration summary
  frontend/src/i18n/locales/cs/translation.json
  frontend/src/i18n/locales/de/translation.json
  frontend/src/i18n/locales/fr/translation.json
  frontend/src/i18n/locales/hi/translation.json
  frontend/src/i18n/locales/ja/translation.json
Due: validate-translations, prettier-frontend

refactor: organize insight types and streamline LLM service
  backend/src/ninebox/main.py
  backend/src/ninebox/services/calibration_summary_service.py
  backend/src/ninebox/services/insight_generator.py
  backend/src/ninebox/services/insight_transformer.py
  backend/src/ninebox/services/llm_service.py
  backend/src/ninebox/types/__init__.py
  backend/src/ninebox/types/insights.py
  backend/tests/e2e/test_calibration_agent_e2e.py
  backend/tests/unit/services/test_llm_service.py
  frontend/src/components/grid/__tests__/NineBoxGrid.memory.test.tsx
  frontend/src/components/intelligence/AISummaryDisplay.tsx
  frontend/src/components/intelligence/CalibrationSummarySection.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/es/translation.json
  frontend/src/test-utils/performance-baselines.ts
Due: validate-translations, prettier-frontend, eslint-frontend

docs: update screenshot coverage report [skip ci]
  .screenshot-coverage-badge.json
  .screenshot-coverage-report.json
  .screenshot-coverage-report.md
Due: none

fix: remove obsolete filter button tests from PureAppBar
  frontend/src/components/dashboard/__tests__/PureAppBar.test.tsx
Due: prettier-frontend, eslint-frontend

feat: add error handling to useEmployeeSearch hook (fixes #216)
  frontend/src/components/common/FilterToolbar.tsx
  frontend/src/components/dashboard/ExclusionDialog.tsx
  frontend/src/hooks/__tests__/useEmployeeSearch.test.ts
  frontend/src/hooks/useEmployeeSearch.ts
  frontend/src/i18n/locales/en/translation.json
Due: validate-translations, prettier-frontend, eslint-frontend

fix: optimize org hierarchy endpoints to eliminate N+1 query problem (fixes #219)
  backend/src/ninebox/api/org_hierarchy.py
Due: none

refactor: extract session validation and OrgService initialization into dependencies (fixes #220, #221)
  backend/src/ninebox/api/org_hierarchy.py
  backend/src/ninebox/core/dependencies.py
Due: none

fix: replace Set/Map with arrays/objects in filterStore (fixes #224)
  frontend/src/hooks/useFilters.ts
  frontend/src/store/filterStore.ts
Due: prettier-frontend, eslint-frontend

feat: add error boundary to FilterToolbar (fixes #227)
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/components/common/FilterToolbarContainer.tsx
  frontend/src/components/common/SimplifiedToolbar.tsx
  frontend/src/components/common/__tests__/FilterToolbar.test.tsx
  frontend/src/i18n/locales/en/translation.json
Due: validate-translations, prettier-frontend, eslint-frontend

fix: implement traverseTree with for...of to prevent infinite loops (fixes #225)
  frontend/src/hooks/__tests__/useOrgHierarchy.test.ts
  frontend/src/hooks/useOrgHierarchy.ts
  frontend/src/services/orgHierarchyService.ts
Due: prettier-frontend, eslint-frontend

fix: implement chip delete handler in FilterToolbar (fixes #228)
  frontend/src/components/common/FilterToolbar.tsx
Due: prettier-frontend, eslint-frontend

fix: consolidate duplicate highlighting components (fixes #223)
  backend/tests/unit/services/test_org_service_duplicates.py
  frontend/playwright/e2e-core/14-org-hierarchy-duplicates.spec.ts
  frontend/playwright/screenshots/config.ts
  frontend/playwright/screenshots/workflows/FILTER_TOOLBAR_SCREENSHOTS.md
  frontend/playwright/screenshots/workflows/filter-toolbar-app.ts
  frontend/playwright/screenshots/workflows/filters-storybook.ts
  frontend/src/components/common/FilterToolbar.stories.tsx
  frontend/src/components/common/SearchHighlight.tsx
  frontend/src/components/common/__tests__/SearchHighlight.test.tsx
  frontend/src/components/dashboard/filters/OrgTreeFilter.stories.tsx
  frontend/src/components/dashboard/filters/SearchableTreeNode.tsx
  frontend/src/hooks/useReportingChain.ts
  resources/user-guide/SCREENSHOT_REQUIREMENTS.md
  resources/user-guide/docs/filters.md
  resources/user-guide/docs/images/screenshots/filters/org-tree-filter-expanded.png
  resources/user-guide/docs/images/screenshots/filters/org-tree-filter-search.png
  resources/user-guide/docs/images/screenshots/filters/org-tree-multi-select.png
  resources/user-guide/docs/images/screenshots/filters/reporting-chain-filter.png
  resources/user-guide/docs/images/screenshots/toolbar/filter-toolbar-expanded.png
  resources/user-guide/docs/images/screenshots/toolbar/filter-toolbar-search-autocomplete.png
  resources/user-guide/docs/images/screenshots/toolbar/filter-toolbar-with-active-filters.png
Due: prettier-frontend, eslint-frontend

fix: delete unused FilterToolbar variants (fixes #222)
  frontend/src/components/common/FilterToolbar.stories.tsx
  frontend/src/components/common/FilterToolbar.tsx
  frontend/src/components/common/FilterToolbarContainer.tsx
  frontend/src/components/common/__tests__/FilterToolbar.test.tsx
  frontend/src/components/grid/NineBoxGrid.tsx
Due: prettier-frontend, eslint-frontend

docs: update user guide documentation
  frontend/playwright/screenshots/workflows/filters-storybook.ts
  resources/user-guide/docs/filters.md
  resources/user-guide/docs/getting-started.md
  resources/user-guide/docs/intelligence.md
  resources/user-guide/docs/large-dataset-guide.md
  resources/user-guide/docs/quickstart.md
Due: prettier-frontend, eslint-frontend

Revert "fix: delete unused FilterToolbar variants (fixes #222)"
  frontend/src/components/common/FilterToolbar.stories.tsx
  frontend/src/components/common/FilterToolbar.tsx
  frontend/src/components/common/FilterToolbarContainer.tsx
  frontend/src/components/common/__tests__/FilterToolbar.test.tsx
  frontend/src/components/grid/NineBoxGrid.tsx
Due: prettier-frontend, eslint-frontend

feat: enhance filtering with fuzzy search and org tree hierarchy
  backend/src/ninebox/api/org_hierarchy.py
  backend/src/ninebox/services/org_service.py
  frontend/package.json
  frontend/playwright/screenshots/config.ts
  frontend/src/components/common/FilterToolbar.tsx
  frontend/src/components/common/FilterToolbarContainer.tsx
  frontend/src/components/common/__tests__/FilterToolbar.test.tsx
  frontend/src/components/dashboard/AppBarContainer.tsx
  frontend/src/components/dashboard/ExclusionDialog.tsx
  frontend/src/components/dashboard/FilterDrawer.stories.tsx
  frontend/src/components/dashboard/FilterDrawer.tsx
  frontend/src/components/dashboard/filters/FilterSection.tsx
  frontend/src/components/dashboard/filters/OrgTreeFilter.tsx
  frontend/src/components/grid/DraggedEmployeeTile.tsx
  frontend/src/components/grid/EmployeeTile.stories.tsx
  frontend/src/components/grid/EmployeeTile.tsx
  frontend/src/components/grid/EmployeeTileList.tsx
  frontend/src/components/grid/GridBox.tsx
  frontend/src/components/grid/NineBoxGrid.tsx
  frontend/src/components/intelligence/ManagerAnomalySection.tsx
  frontend/src/components/intelligence/ManagerDistributionChart.tsx
  frontend/src/components/panel/ManagementChain.tsx
  frontend/src/components/panel/__tests__/ManagementChain.test.tsx
  frontend/src/hooks/__tests__/useEmployeeSearch.test.ts
  frontend/src/hooks/__tests__/useFilters.test.ts
  frontend/src/hooks/useDebounced.ts
  frontend/src/hooks/useEmployeeSearch.ts
  frontend/src/hooks/useFilters.ts
  frontend/src/hooks/useOrgHierarchy.ts
  frontend/src/services/orgHierarchyService.ts
  frontend/src/store/filterStore.ts
  frontend/src/theme/tokens.ts
  resources/user-guide/docs/images/screenshots/toolbar/filter-toolbar-expanded.png
  resources/user-guide/docs/images/screenshots/toolbar/filter-toolbar-search-autocomplete.png
  resources/user-guide/docs/images/screenshots/toolbar/filter-toolbar-with-active-filters.png
Due: prettier-frontend, eslint-frontend
