Repository bencan1a/9boxer: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-workflow-yaml, validate-translations, prettier-frontend, eslint-frontend

check-workflow-yaml:
  name: check workflow YAML syntax
  entry: python
  language: system
  args:
  - -c
  - import yaml; import sys; from pathlib import Path; [yaml.safe_load(f.read_text(encoding='utf-8')) for f in Path('.github/workflows').glob('*.yml')]
  pass_filenames: false

validate-translations:
  name: validate i18n translation files
  entry: python tools/validate-translations.py
  language: system
  pass_filenames: true

prettier-frontend:
  name: format frontend files with prettier
  entry: bash tools/run-prettier.sh
  language: system
  pass_filenames: true

eslint-frontend:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

fix: improve JSON parsing error handling and prompt formatting
  .github/scripts/ai-docs-audit.js
Due: none

refactor: use Anthropic SDK instead of raw fetch calls
  .github/scripts/ai-docs-audit.js
Due: none

perf: reduce context size and limit findings to prevent JSON errors
  .github/scripts/ai-docs-audit.js
Due: none

feat: add workflow dispatch input for screenshot regeneration and update npm install command
  .github/workflows/docs-auto-update.yml
Due: check-workflow-yaml

feat: enhance Excel export tests and cleanup to prevent openpyxl state pollution
  .github/workflows/docs-auto-update.yml
  backend/tests/conftest.py
  backend/tests/e2e/test_frozen.py
  backend/tests/integration/test_e2e.py
  backend/tests/integration/test_session_integration.py
  backend/tests/performance/conftest.py
  backend/tests/unit/services/test_excel_exporter.py
Due: check-workflow-yaml

Delete archived i18n implementation progress, migration summary, and design token migration documents
  internal-docs/archive/2025-12-26/FINAL_SUMMARY.md
  internal-docs/archive/2025-12-26/IMPLEMENTATION_SUMMARY.md
  internal-docs/archive/2025-12-26/OPTION_C_REDESIGN_PLAN.md
  internal-docs/archive/2025-12-26/PLAYWRIGHT_FIXES_STATUS.md
  internal-docs/archive/2025-12-26/maintaining-user-guide.md
  internal-docs/archive/2025-12-26/playwright-best-practices.md
  internal-docs/archive/2025-12-27/PROGRESS.md
  internal-docs/archive/2025-12-27/i18n-migration-summary.md
  internal-docs/archive/2025-12-27/migration-summary.md
Due: none

feat: enhance test fixtures for environment cleanup and state management
  backend/tests/conftest.py
  backend/tests/unit/core/test_database.py
  backend/tests/unit/services/test_database.py
  backend/tests/unit/services/test_excel_exporter.py
  backend/tests/unit/services/test_session_persistence.py
Due: none

refactor: reorganize test execution in weekly workflow and remove performance tests
  .github/workflows/weekly.yml
Due: check-workflow-yaml

chore: remove Copilot setup workflow file
  .github/workflows/copilot-setup-steps.yml
Due: check-workflow-yaml

feat: implement screenshot coverage dashboard and PR docs reminders
  .github/scripts/detect-new-features.js
  .github/scripts/screenshot-coverage.js
  .github/workflows/pr-docs-check.yml
  .github/workflows/screenshot-coverage.yml
  agent-projects/self-managing-docs-system/plan.md
Due: check-workflow-yaml

docs: fix text issues and generate documentation screenshots (#90, #92)
  resources/user-guide/docs/best-practices.md
  resources/user-guide/docs/donut-mode.md
  resources/user-guide/docs/faq.md
  resources/user-guide/docs/images/screenshots/details-panel/flags-ui.png
  resources/user-guide/docs/images/screenshots/employee-tile-normal.png
  resources/user-guide/docs/images/screenshots/filters/filters-multiple-active.png
  resources/user-guide/docs/images/screenshots/filters/flags-section.png
  resources/user-guide/docs/images/screenshots/filters/reporting-chain-filter.png
  resources/user-guide/docs/images/screenshots/grid-normal.png
  resources/user-guide/docs/images/screenshots/quickstart/quickstart-file-menu-button.png
  resources/user-guide/docs/images/screenshots/quickstart/quickstart-grid-populated.png
  resources/user-guide/docs/images/screenshots/quickstart/quickstart-upload-dialog.png
  resources/user-guide/docs/images/screenshots/statistics/statistics-ideal-actual-comparison.png
  resources/user-guide/docs/images/screenshots/statistics/statistics-panel-distribution.png
  resources/user-guide/docs/images/screenshots/statistics/statistics-trend-indicators.png
  resources/user-guide/docs/images/screenshots/view-controls/settings-dialog.png
  resources/user-guide/docs/images/screenshots/workflow/calibration-donut-mode-toggle.png
  resources/user-guide/docs/images/screenshots/workflow/calibration-file-import.png
  resources/user-guide/docs/images/screenshots/workflow/calibration-filters-panel.png
  resources/user-guide/docs/images/screenshots/workflow/calibration-statistics-red-flags.png
  resources/user-guide/docs/images/screenshots/workflow/making-changes-employee-details.png
  resources/user-guide/docs/images/screenshots/zoom-controls.png
  resources/user-guide/docs/index.md
  resources/user-guide/docs/quickstart.md
  resources/user-guide/docs/workflows/talent-calibration.md
Due: none

feat: implement Treatment 2 for EmployeeTile (badge strip with consistent borders)
  frontend/playwright/screenshots/config.ts
  frontend/src/components/grid/EmployeeTile.stories.tsx
  frontend/src/components/grid/EmployeeTile.tsx
  frontend/src/components/grid/__tests__/EmployeeTile.test.tsx
  internal-docs/COPILOT_SETUP.md
  internal-docs/QUICK_REFERENCE.md
  internal-docs/WORKFLOWS.md
Due: prettier-frontend, eslint-frontend

address documentation updates from issue 89
  .github/workflows/README.md
  .gitignore
  AGENTS.md
  CLAUDE.md
  GITHUB_AGENT.md
  README.md
  internal-docs/CHANGELOG.md
  internal-docs/README.md
  internal-docs/ai-documentation-audit.md
  internal-docs/architecture/ERROR_HANDLING.md
  internal-docs/components/ninebox-grid-states.md
  internal-docs/design-system/component-guidelines.md
  internal-docs/design-system/component-inventory.md
  internal-docs/testing/playwright-best-practices-checklist.md
  internal-docs/testing/quick-reference.md
Due: none

feat: add comprehensive Storybook stories and tests for Intelligence tab components
  frontend/playwright/screenshots/config.ts
  frontend/playwright/screenshots/workflows/intelligence.ts
  frontend/src/components/intelligence/AnomalySection.stories.tsx
  frontend/src/components/intelligence/DeviationChart.stories.tsx
  frontend/src/components/intelligence/IntelligenceSummary.stories.tsx
  frontend/src/components/intelligence/IntelligenceSummary.tsx
  frontend/src/components/intelligence/LevelDistributionChart.stories.tsx
  frontend/src/components/intelligence/README.md
  frontend/src/components/intelligence/__tests__/AnomalySection.test.tsx
  frontend/src/components/intelligence/__tests__/DeviationChart.test.tsx
  frontend/src/components/intelligence/__tests__/IntelligenceSummary.test.tsx
  frontend/src/components/intelligence/__tests__/LevelDistributionChart.test.tsx
  frontend/src/components/intelligence/atoms/AnomalyCard.stories.tsx
  frontend/src/components/intelligence/atoms/InsightCard.stories.tsx
  frontend/src/components/intelligence/sections/AnomaliesSection.stories.tsx
  frontend/src/components/intelligence/sections/DistributionSection.stories.tsx
  frontend/src/components/intelligence/sections/InsightsSection.stories.tsx
  frontend/src/components/panel/statistics/ColoredPercentageBar.stories.tsx
  frontend/src/mocks/index.ts
  frontend/src/mocks/mockChartData.ts
  frontend/src/mocks/mockIntelligence.ts
  frontend/src/test/setup.ts
Due: prettier-frontend, eslint-frontend

feat: componentize Statistics Panel with atomic design pattern
  frontend/src/components/panel/StatisticsTab.old.tsx
  frontend/src/components/panel/statistics/ColoredPercentageBar.test.tsx
  frontend/src/components/panel/statistics/ColoredPercentageBar.tsx
  frontend/src/components/panel/statistics/DistributionRow.stories.tsx
  frontend/src/components/panel/statistics/DistributionRow.test.tsx
  frontend/src/components/panel/statistics/DistributionRow.tsx
  frontend/src/components/panel/statistics/DistributionTable.stories.tsx
  frontend/src/components/panel/statistics/DistributionTable.test.tsx
  frontend/src/components/panel/statistics/DistributionTable.tsx
  frontend/src/components/panel/statistics/GroupingIndicator.stories.tsx
  frontend/src/components/panel/statistics/GroupingIndicator.test.tsx
  frontend/src/components/panel/statistics/GroupingIndicator.tsx
  frontend/src/components/panel/statistics/StatisticCard.stories.tsx
  frontend/src/components/panel/statistics/StatisticCard.test.tsx
  frontend/src/components/panel/statistics/StatisticCard.tsx
  frontend/src/components/panel/statistics/StatisticsSummary.stories.tsx
  frontend/src/components/panel/statistics/StatisticsSummary.test.tsx
  frontend/src/components/panel/statistics/StatisticsSummary.tsx
  frontend/src/components/panel/statistics/index.ts
Due: prettier-frontend, eslint-frontend

docs: add Intelligence tab documentation screenshots
  agent-projects/intelligence-storybook-realignment/plan.md
  resources/user-guide/docs/images/screenshots/workflow/intelligence-anomaly-green.png
  resources/user-guide/docs/images/screenshots/workflow/intelligence-anomaly-red.png
  resources/user-guide/docs/images/screenshots/workflow/intelligence-deviation-chart.png
  resources/user-guide/docs/images/screenshots/workflow/intelligence-level-distribution.png
  resources/user-guide/docs/images/screenshots/workflow/intelligence-summary-excellent.png
  resources/user-guide/docs/images/screenshots/workflow/intelligence-summary-needs-attention.png
Due: none

feat(statistics-panel): implement componentization plan for StatisticsTab
  agent-projects/intelligence-storybook-realignment/plan.md
  agent-projects/rich-sample-data-generator/plan.md
  agent-projects/statistics-panel-componentization/plan.md
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/dashboard/PanelToggleButton.stories.tsx
Due: prettier-frontend, eslint-frontend

feat: migrate statistics screenshots to Storybook stories
  frontend/playwright/screenshots/config.ts
  frontend/playwright/screenshots/workflows/statistics-storybook.ts
  frontend/playwright/screenshots/workflows/statistics.ts
  resources/user-guide/docs/images/screenshots/statistics/statistics-grouping-indicators.png
  resources/user-guide/docs/images/screenshots/statistics/statistics-ideal-actual-comparison.png
  resources/user-guide/docs/images/screenshots/statistics/statistics-panel-distribution.png
  resources/user-guide/docs/images/screenshots/statistics/statistics-summary-cards.png
  resources/user-guide/docs/images/screenshots/statistics/statistics-trend-indicators.png
Due: prettier-frontend, eslint-frontend

Path conditions:
  check-workflow-yaml: any of: ^\.github/workflows/.*\.yml$
  validate-translations: any of: ^frontend/src/i18n/locales/.*/translation\.json$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|json)$, but not: ^frontend/(node_modules|dist|dist-electron|build|release|coverage|package-lock\.json|tsconfig.*\.json)/
  eslint-frontend: any of: ^frontend/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^frontend/(node_modules|dist|dist-electron|build|release|coverage)/)
