Repository bencan1a/9boxer: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-check, type-check, security, check-workflow-yaml, validate-translations, check-doc-size, check-root-docs, prettier-frontend, eslint-frontend, typescript-check, generate-docs-tokens, frontend-test-fast, frontend-bundle-size

Path conditions:
  lint: any of: \.py$
  format-check: any of: \.py$
  type-check: any of: \.py$
  security: any of: \.py$
  check-workflow-yaml: any of: ^\.github/workflows/.*\.yml$
  validate-translations: any of: ^frontend/src/i18n/locales/.*/translation\.json$
  check-doc-size: any of: ^(CLAUDE_INDEX\.md|AGENTS\.md|GITHUB_AGENT\.md)$
  check-root-docs: any of: ^[^/]+\.md$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|json)$, but not: ^frontend/(node_modules|dist|dist-electron|build|release|coverage|package-lock\.json|tsconfig.*\.json)/
  eslint-frontend: any of: ^frontend/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^frontend/(node_modules|dist|dist-electron|build|release|coverage)/)
  typescript-check: any of: ^frontend/ and \.(ts|mts|cts)$, \.tsx$ and not (^frontend/(node_modules|dist|dist-electron|build|release|coverage|.*__tests__|.*\.test\.|.*\.spec\.)/)
  generate-docs-tokens: any of: ^frontend/src/theme/tokens\.ts$
  frontend-test-fast: any of: ^frontend/src/.*\.(ts|tsx)$
  frontend-bundle-size: any of: ^frontend/src/.*\.(ts|tsx)$

fix: Split macOS build into sign, notarize, and package steps
  .github/workflows/release.yml
  frontend/electron-builder.json
Due: check-workflow-yaml, prettier-frontend

fix: Update macOS entitlements to follow Electron notarization best practices
  frontend/build/entitlements.mac.inherit.plist
  frontend/build/entitlements.mac.plist
  frontend/electron-builder.json
Due: prettier-frontend

fix: Make release workflow steps conditional on should_build
  .github/workflows/release.yml
Due: check-workflow-yaml

fix: Add should_build conditional to all platform-specific steps
  .github/workflows/release.yml
Due: check-workflow-yaml

fix: Process both x64 (release/mac/) and arm64 (release/mac-arm64/) builds
  .github/workflows/release.yml
Due: check-workflow-yaml

chore: Disable debug logging for macOS build step
  .github/workflows/release.yml
Due: check-workflow-yaml

fix: Add type: module to package.json to eliminate Node.js warning
  frontend/package.json
Due: prettier-frontend

fix: Remove type: module from package.json
  frontend/package.json
Due: prettier-frontend

[WIP] Fix ai release notes step for no commits situation (#295)
  frontend/scripts/generate-release-notes.js
Due: prettier-frontend, eslint-frontend

feat: Add DMG notarization and comprehensive validation
  .github/workflows/release.yml
Due: check-workflow-yaml

feat: Add DMG code signing before notarization
  .github/workflows/release.yml
Due: check-workflow-yaml

feat: Add ZIP file signing and notarization for auto-update
  .github/workflows/release.yml
Due: check-workflow-yaml

fix: Add error handling to validation cleanup commands
  .github/workflows/release.yml
Due: check-workflow-yaml

fix: Remove stapling from ZIP file notarization
  .github/workflows/release.yml
Due: check-workflow-yaml

fix: Remove DMG code-signing to prevent corruption
  .github/workflows/release.yml
Due: check-workflow-yaml

Consolidate internal documentation and add missing workflow guidance (#296)
  AGENTS.md
  CLAUDE_INDEX.md
  internal-docs/.screenshot-coverage-report.md
  internal-docs/AGENT_DOCS_CONTRACT.md
  internal-docs/README.md
  internal-docs/architecture/build-process.md
  internal-docs/cicd/CI_RELIABILITY.md
  internal-docs/cicd/README.md
  internal-docs/contributing/screenshot-guide.md
  internal-docs/testing/README.md
Due: check-doc-size, check-root-docs

fix: Update Documentation workflow to create PRs instead of direct pushes
  .github/workflows/docs.yml
Due: check-workflow-yaml

fix: Prevent Documentation Auto-Update workflow from failing on forked PRs
  .github/workflows/docs-auto-update.yml
Due: check-workflow-yaml

fix: Update AI docs audit to use VitePress documentation path
  .github/scripts/ai-docs-audit.js
Due: none

fix: Add issues:write permission to internal-docs-maintenance job
  .github/workflows/docs.yml
Due: check-workflow-yaml

docs: Add workflow permissions troubleshooting guide
  internal-docs/WORKFLOW_PERMISSIONS_FIX.md
Due: none

docs: Weekly internal docs maintenance (2026-01-13) (#301)
  .github/.internal-docs-maintenance-marker
  internal-docs/AGENT_DOCS_CONTRACT.md
  internal-docs/CONTEXT.md
  internal-docs/README.md
  internal-docs/SUMMARY.md
  internal-docs/_generated/plans_index.md
  internal-docs/architecture/ARCHITECTURE_QUICK_REFERENCE.md
  internal-docs/architecture/FRONTEND_REFACTORING_PLAN.md
  internal-docs/architecture/GUIDELINES.md
  internal-docs/architecture/SYSTEM_ARCHITECTURE.md
  internal-docs/architecture/decisions/004-zustand-state-management.md
  internal-docs/architecture/decisions/README.md
  internal-docs/contributing/README.md
  internal-docs/design-system/README.md
  internal-docs/design-system/component-inventory.md
  internal-docs/design-system/design-principles.md
  internal-docs/design-system/layout-patterns.md
  internal-docs/maintenance-reports/2026-01-13-maintenance-report.md
  internal-docs/testing/ARCHITECTURE.md
  internal-docs/testing/README.md
  internal-docs/testing/SUITE_SUMMARY.md
  internal-docs/testing/reviews/2025-12-29-coverage-audit.md
  internal-docs/testing/test-principles.md
  internal-docs/testing/visual-regression-testing.md
Due: none

chore(deps): resolve dependency security findings
  frontend/.eslintrc.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/intelligence/__tests__/ManagerDistributionChart.test.tsx
  resources/user-guide-vitepress/package-lock.json
Due: prettier-frontend, eslint-frontend, typescript-check, frontend-test-fast, frontend-bundle-size

fix(ci): unbreak Python lint and type-check gates
  pyproject.toml
Due: none

test: assert real empty-state text in ManagerDistributionChart
  frontend/src/components/intelligence/__tests__/ManagerDistributionChart.test.tsx
Due: prettier-frontend, eslint-frontend, frontend-test-fast, frontend-bundle-size

test: use getTranslatedText for empty-state assertion
  frontend/src/components/intelligence/__tests__/ManagerDistributionChart.test.tsx
Due: prettier-frontend, eslint-frontend, frontend-test-fast, frontend-bundle-size

fix(deps): align all @storybook/* packages with storybook core
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend

docs: fix two code blocks corrupted by the markdown reformat
  agent-projects/archive/electron-standalone/phase2-review.md
  internal-docs/architecture/ORG_HIERARCHY_SERVICE.md
Due: none

Import performance history for any review year, not just 2023/2024
  backend/src/ninebox/services/excel_exporter.py
  backend/src/ninebox/services/excel_parser.py
  backend/src/ninebox/services/sample_data_generator.py
  backend/tests/unit/services/test_excel_exporter.py
  backend/tests/unit/services/test_excel_parser.py
  frontend/src/components/panel/RatingsTimeline.tsx
  frontend/src/components/panel/__tests__/RatingsTimeline.test.tsx
Due: lint, format-check, type-check, security, prettier-frontend, eslint-frontend, typescript-check, frontend-test-fast, frontend-bundle-size

Address code review: current-year history, duplicate years, prior-box labels
  backend/src/ninebox/services/employee_service.py
  backend/src/ninebox/services/excel_parser.py
  backend/tests/unit/services/test_employee_service.py
  backend/tests/unit/services/test_excel_parser.py
  frontend/src/components/panel/RatingsTimeline.tsx
  frontend/src/components/panel/__tests__/RatingsTimeline.test.tsx
Due: lint, format-check, type-check, security, prettier-frontend, eslint-frontend, typescript-check, frontend-test-fast, frontend-bundle-size

Flag movement between calibrations, and add a medium mover flag
  backend/src/ninebox/api/employees.py
  backend/src/ninebox/models/employee.py
  backend/src/ninebox/services/employee_service.py
  backend/src/ninebox/services/excel_exporter.py
  backend/src/ninebox/services/excel_parser.py
  backend/tests/conftest.py
  backend/tests/unit/services/test_employee_service.py
  backend/tests/unit/services/test_excel_exporter.py
  backend/tests/unit/services/test_excel_parser.py
  frontend/src/components/panel/EmployeeDetails.tsx
  frontend/src/components/panel/EmployeeFlags.tsx
  frontend/src/components/panel/__tests__/EmployeeFlagsDerived.test.tsx
  frontend/src/constants/flags.ts
  frontend/src/constants/positionLabels.ts
  frontend/src/i18n/locales/cs/translation.json
  frontend/src/i18n/locales/de/translation.json
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/es/translation.json
  frontend/src/i18n/locales/fr/translation.json
  frontend/src/i18n/locales/hi/translation.json
  frontend/src/i18n/locales/ja/translation.json
  frontend/src/store/sessionStore.ts
  frontend/src/types/employee.ts
Due: lint, format-check, type-check, security, validate-translations, prettier-frontend, eslint-frontend, typescript-check, frontend-test-fast, frontend-bundle-size

Fix reused loop variable in the exporter's history columns
  backend/src/ninebox/services/excel_exporter.py
Due: lint, format-check, type-check, security

Let coverage trace the TestClient thread, unblocking the coverage gate
  pyproject.toml
Due: none

feat: import history for any review year and flag movement between calibrations (#441)
  backend/src/ninebox/api/employees.py
  backend/src/ninebox/models/employee.py
  backend/src/ninebox/services/employee_service.py
  backend/src/ninebox/services/excel_exporter.py
  backend/src/ninebox/services/excel_parser.py
  backend/src/ninebox/services/sample_data_generator.py
  backend/tests/conftest.py
  backend/tests/unit/services/test_employee_service.py
  backend/tests/unit/services/test_excel_exporter.py
  backend/tests/unit/services/test_excel_parser.py
  frontend/src/components/panel/EmployeeDetails.tsx
  frontend/src/components/panel/EmployeeFlags.tsx
  frontend/src/components/panel/RatingsTimeline.tsx
  frontend/src/components/panel/__tests__/EmployeeFlagsDerived.test.tsx
  frontend/src/components/panel/__tests__/RatingsTimeline.test.tsx
  frontend/src/constants/flags.ts
  frontend/src/constants/positionLabels.ts
  frontend/src/i18n/locales/cs/translation.json
  frontend/src/i18n/locales/de/translation.json
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/es/translation.json
  frontend/src/i18n/locales/fr/translation.json
  frontend/src/i18n/locales/hi/translation.json
  frontend/src/i18n/locales/ja/translation.json
  frontend/src/store/sessionStore.ts
  frontend/src/types/employee.ts
  pyproject.toml
Due: lint, format-check, type-check, security, validate-translations, prettier-frontend, eslint-frontend, typescript-check, frontend-test-fast, frontend-bundle-size

Prepare 1.1.0 release, and fix empty release notes
  .github/workflows/release.yml
  CHANGELOG.md
  frontend/package.json
  pyproject.toml
Due: check-workflow-yaml, check-root-docs, prettier-frontend

fix(release): avoid broken Full Changelog link when no prior tag exists
  .github/workflows/release.yml
Due: check-workflow-yaml

chore(release): prepare 1.1.0 and fix empty release notes (#444)
  .github/workflows/release.yml
  CHANGELOG.md
  frontend/package.json
  pyproject.toml
Due: check-workflow-yaml, check-root-docs, prettier-frontend
