Repository bencan1a/9boxer: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-workflow-yaml, validate-translations, prettier-frontend, eslint-frontend

check-workflow-yaml:
  name: check workflow YAML syntax
  entry: python
  language: system
  args:
  - -c
  - import yaml; import sys; from pathlib import Path; [yaml.safe_load(f.read_text(encoding='utf-8')) for f in Path('.github/workflows').glob('*.yml')]
  pass_filenames: false

validate-translations:
  name: validate i18n translation files
  entry: python tools/validate-translations.py
  language: system
  pass_filenames: true

prettier-frontend:
  name: format frontend files with prettier
  entry: bash tools/run-prettier.sh
  language: system
  pass_filenames: true

eslint-frontend:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

chore: mark sample-data-documentation plan as done (Issue #104 complete)
  agent-projects/sample-data-documentation/plan.md
Due: none

feat: improve Electron API integration and accessibility (closes #111, #113)
  frontend/electron/preload/index.ts
  frontend/playwright/e2e/change-tracking.spec.ts
  frontend/playwright/screenshots/workflows/details-panel-enhancements.ts
  frontend/src/components/dashboard/FileMenuButton.stories.tsx
  frontend/src/components/dialogs/ApplyChangesDialog.tsx
  frontend/src/components/grid/NineBoxGrid.stories.tsx
  frontend/src/hooks/__tests__/useElectronAPI.test.ts
  frontend/src/hooks/useElectronAPI.ts
  resources/user-guide/docs/images/screenshots/details-panel/current-assessment-enhanced.png
  resources/user-guide/docs/images/screenshots/details-panel/flag-badges.png
  resources/user-guide/docs/images/screenshots/donut/donut-mode-active-layout.png
  resources/user-guide/docs/images/screenshots/file-menu-apply-changes.png
  resources/user-guide/docs/images/screenshots/filters/filters-multiple-active.png
  resources/user-guide/docs/images/screenshots/grid-normal.png
  resources/user-guide/docs/images/screenshots/workflow/calibration-donut-mode-grid.png
  resources/user-guide/docs/images/screenshots/workflow/calibration-file-import.png
  resources/user-guide/docs/images/screenshots/workflow/intelligence-anomaly-details.png
  resources/user-guide/docs/images/screenshots/workflow/intelligence-anomaly-green.png
  resources/user-guide/docs/images/screenshots/workflow/intelligence-anomaly-red.png
Due: prettier-frontend, eslint-frontend

fix: auto-select first employee when loading sample data
  backend/src/ninebox/api/employees.py
  frontend/src/services/sampleDataService.ts
  frontend/src/store/sessionStore.ts
Due: prettier-frontend, eslint-frontend

fix: enable sample data export and file menu updates
  backend/src/ninebox/api/session.py
  backend/src/ninebox/services/excel_exporter.py
  backend/tests/unit/api/test_session.py
  frontend/src/components/dashboard/AppBarContainer.tsx
Due: prettier-frontend, eslint-frontend

fix: update frontend tests to match file management refactor
  frontend/src/components/dashboard/__tests__/ApplyChangesWorkflow.test.tsx
  frontend/src/components/dashboard/__tests__/FileMenuButton.test.tsx
  frontend/src/components/dashboard/__tests__/RecentFileLoadingWorkflow.test.tsx
  frontend/src/components/dashboard/__tests__/RecentFilesWorkflow.test.tsx
  frontend/src/components/grid/__tests__/Axis.test.tsx
  frontend/src/components/grid/__tests__/EmployeeTile.test.tsx
  frontend/src/components/grid/__tests__/EmployeeTileList.test.tsx
  frontend/src/components/intelligence/__tests__/DeviationChart.test.tsx
  frontend/src/components/intelligence/__tests__/LevelDistributionChart.test.tsx
  frontend/src/components/panel/__tests__/StatisticsTab.test.tsx
  frontend/src/test/mockData.ts
Due: prettier-frontend, eslint-frontend

Update excel_exporter.py
  backend/src/ninebox/services/excel_exporter.py
Due: none

Update copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Due: check-workflow-yaml

docs: complete File Load/Save/Apply workflows documentation (closes #122)
  .github/agents/test.md.archived
  USER_GUIDE.md
  frontend/playwright/screenshots/config.ts
  frontend/playwright/screenshots/workflows/file-operations.ts
  frontend/src/components/dialogs/ApplyChangesDialog.stories.tsx
  internal-docs/CONTEXT.md
  internal-docs/SUMMARY.md
  internal-docs/architecture/FILE_HANDLING.md
  resources/user-guide/docs/exporting.md
  resources/user-guide/docs/images/screenshots/file-ops/apply-changes-dialog-default.png
  resources/user-guide/docs/images/screenshots/file-ops/apply-changes-dialog-save-as.png
  resources/user-guide/docs/images/screenshots/file-ops/file-error-fallback.png
  resources/user-guide/docs/images/screenshots/file-ops/file-menu-recent-files.png
  resources/user-guide/docs/images/screenshots/file-ops/unsaved-changes-dialog.png
  resources/user-guide/docs/workflows/making-changes.md
Due: prettier-frontend, eslint-frontend

feat: add specialized testing agent system with slash commands
  .claude/commands/test-architect.md
  .claude/commands/test-backend.md
  .claude/commands/test-e2e.md
  .claude/commands/test-frontend.md
  .claude/commands/test-review.md
  .github/agents/README-TESTING-AGENTS.md
  .github/agents/test-architect.md
  .github/agents/test-backend-expert.md
  .github/agents/test-e2e-expert.md
  .github/agents/test-frontend-expert.md
Due: none

refactor: simplify backend test fixtures for maintainability
  backend/src/ninebox/services/employee_service.py
  backend/tests/conftest.py
  backend/tests/unit/api/test_employees.py
  backend/tests/unit/api/test_session.py
  backend/tests/unit/api/test_statistics.py
  backend/tests/unit/services/test_employee_service.py
  backend/tests/unit/services/test_excel_exporter.py
  backend/tests/unit/services/test_session_manager.py
  backend/tests/unit/services/test_session_serializer.py
Due: none

refactor: improve E2E test robustness and anti-fragility
  frontend/playwright/e2e/change-tracking.spec.ts
  frontend/playwright/e2e/details-panel.spec.ts
  frontend/playwright/e2e/donut-mode.spec.ts
  frontend/playwright/e2e/drag-drop-visual.spec.ts
  frontend/playwright/e2e/employee-movement.spec.ts
  frontend/playwright/e2e/export-flow.spec.ts
  frontend/playwright/e2e/export-validation.spec.ts
  frontend/playwright/e2e/file-load-save-workflow.spec.ts
  frontend/playwright/e2e/filter-application.spec.ts
  frontend/playwright/e2e/grid-expansion.spec.ts
  frontend/playwright/e2e/right-panel-interactions.spec.ts
  frontend/playwright/e2e/sample-data-flow.spec.ts
  frontend/playwright/e2e/smoke-test.spec.ts
  frontend/playwright/e2e/statistics-tab.spec.ts
  frontend/playwright/e2e/toolbar-interactions.spec.ts
  frontend/playwright/e2e/upload-flow.spec.ts
  frontend/playwright/e2e/zoom-flow.spec.ts
  frontend/playwright/helpers/fileOperations.ts
Due: prettier-frontend, eslint-frontend

docs: update CLAUDE.md with testing agent system documentation
  CLAUDE.md
  internal-docs/_generated/plans_index.md
Due: none

refactor: improve session state management and test robustness
  backend/src/ninebox/api/session.py
  backend/src/ninebox/services/excel_parser.py
  backend/src/ninebox/services/sample_data_generator.py
  backend/tests/conftest.py
  backend/tests/integration/test_e2e.py
  backend/tests/integration/test_end_to_end_persistence.py
  backend/tests/integration/test_export_fallback_flow.py
  backend/tests/integration/test_recent_files_integration.py
  backend/tests/integration/test_sample_data_intelligence.py
  backend/tests/integration/test_session_integration.py
Due: none

docs: optimize agent documentation structure for performance
  .claudeignore
  .github/copilot-instructions.md
  .github/workflows/README.md
  .pre-commit-config.yaml
  AGENTS.md
  CLAUDE_INDEX.md
  CONTRIBUTING.md
  DESIGN_SYSTEM.md
  GITHUB_AGENT.md
  README.md
  internal-docs/ENVIRONMENT_SETUP.md
  internal-docs/PLATFORM_CONSTRAINTS.md
  internal-docs/README.md
  internal-docs/archive/2025-12-29/CLAUDE-v1.md
  internal-docs/archive/2025-12-29/README.md
  internal-docs/facts.json
  tools/build_context.py
  tools/check_doc_size.py
Due: none

feat: enhance devcontainer for remote development with CI parity
  .devcontainer/CHANGES.md
  .devcontainer/DEVCONTAINER_VS_CI.md
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/VENV_USAGE.md
  .devcontainer/WINDOWS_SETUP.md
  .devcontainer/devcontainer.json
  .devcontainer/scripts/start-display.sh
  .devcontainer/scripts/start-vnc.sh
Due: none

test reliability updates for backend
  backend/src/ninebox/services/excel_parser.py
Due: none

chore: update visual regression test snapshots for various components
  frontend/playwright/visual-regression/screenshot-validation.spec.ts-snapshots/calibration-donut-mode-grid-baseline-docs-visual-win32.png
  frontend/playwright/visual-regression/screenshot-validation.spec.ts-snapshots/calibration-donut-mode-toggle-baseline-docs-visual-win32.png
  frontend/playwright/visual-regression/screenshot-validation.spec.ts-snapshots/calibration-file-import-baseline-docs-visual-win32.png
  frontend/playwright/visual-regression/screenshot-validation.spec.ts-snapshots/calibration-statistics-red-flags-baseline-docs-visual-win32.png
  frontend/playwright/visual-regression/screenshot-validation.spec.ts-snapshots/changes-employee-details-baseline-docs-visual-win32.png
  frontend/playwright/visual-regression/screenshot-validation.spec.ts-snapshots/changes-orange-border-baseline-docs-visual-win32.png
  frontend/playwright/visual-regression/screenshot-validation.spec.ts-snapshots/changes-tab-baseline-docs-visual-win32.png
  frontend/playwright/visual-regression/screenshot-validation.spec.ts-snapshots/changes-timeline-view-baseline-docs-visual-win32.png
  frontend/playwright/visual-regression/screenshot-validation.spec.ts-snapshots/details-current-assessment-baseline-docs-visual-win32.png
  frontend/playwright/visual-regression/screenshot-validation.spec.ts-snapshots/details-flag-badges-baseline-docs-visual-win32.png
  frontend/playwright/visual-regression/screenshot-validation.spec.ts-snapshots/details-flags-ui-baseline-docs-visual-win32.png
  frontend/playwright/visual-regression/screenshot-validation.spec.ts-snapshots/details-reporting-chain-clickable-baseline-docs-visual-win32.png
  frontend/playwright/visual-regression/screenshot-validation.spec.ts-snapshots/employee-tile-normal-baseline-docs-visual-win32.png
  frontend/playwright/visual-regression/screenshot-validation.spec.ts-snapshots/filters-active-chips-baseline-docs-visual-win32.png
  frontend/playwright/visual-regression/screenshot-validation.spec.ts-snapshots/filters-clear-all-button-baseline-docs-visual-win32.png
  frontend/playwright/visual-regression/screenshot-validation.spec.ts-snapshots/filters-multiple-active-baseline-docs-visual-win32.png
  frontend/playwright/visual-regression/screenshot-validation.spec.ts-snapshots/filters-panel-expanded-baseline-docs-visual-win32.png
  frontend/playwright/visual-regression/screenshot-validation.spec.ts-snapshots/grid-normal-baseline-docs-visual-win32.png
  frontend/playwright/visual-regression/screenshot-validation.spec.ts-snapshots/notes-changes-tab-field-baseline-docs-visual-win32.png
  frontend/playwright/visual-regression/screenshot-validation.spec.ts-snapshots/quickstart-file-menu-button-baseline-docs-visual-win32.png
  frontend/playwright/visual-regression/screenshot-validation.spec.ts-snapshots/quickstart-grid-populated-baseline-docs-visual-win32.png
  frontend/playwright/visual-regression/screenshot-validation.spec.ts-snapshots/quickstart-upload-dialog-baseline-docs-visual-win32.png
  frontend/playwright/visual-regression/screenshot-validation.spec.ts-snapshots/statistics-panel-distribution-baseline-docs-visual-win32.png
  frontend/playwright/visual-regression/screenshot-validation.spec.ts-snapshots/view-controls-donut-view-baseline-docs-visual-win32.png
  frontend/playwright/visual-regression/screenshot-validation.spec.ts-snapshots/view-controls-grid-view-baseline-docs-visual-win32.png
  frontend/playwright/visual-regression/screenshot-validation.spec.ts-snapshots/view-controls-main-interface-baseline-docs-visual-win32.png
  frontend/playwright/visual-regression/screenshot-validation.spec.ts-snapshots/view-controls-simplified-appbar-baseline-docs-visual-win32.png
  frontend/playwright/visual-regression/screenshot-validation.spec.ts-snapshots/zoom-controls-baseline-docs-visual-win32.png
Due: none

fix: correct script paths in Dockerfile for build context
  .devcontainer/Dockerfile
Due: none

fix: add sudo for system-wide pip installs in devcontainer
  .devcontainer/devcontainer.json
Due: none

Path conditions:
  check-workflow-yaml: any of: ^\.github/workflows/.*\.yml$
  validate-translations: any of: ^frontend/src/i18n/locales/.*/translation\.json$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|json)$, but not: ^frontend/(node_modules|dist|dist-electron|build|release|coverage|package-lock\.json|tsconfig.*\.json)/
  eslint-frontend: any of: ^frontend/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$ and not (^frontend/(node_modules|dist|dist-electron|build|release|coverage)/)
