Repository bencan1a/9boxer: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-workflow-yaml, validate-translations, prettier-frontend, eslint-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# This configuration matches the CI checks in .github/workflows/ci.yml
# All checks here must pass before commits are allowed.
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$  # Exclude mkdocs.yml (has custom YAML tags)
      - id: check-toml
      - id: check-json
        exclude: ^frontend/tsconfig.*\.json$  # Exclude tsconfig.json (allows comments)
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key

  # Ruff linting - matches CI: make lint (ruff check .)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        name: ruff lint
        args: [--exit-non-zero-on-fix]
        # Note: We don't use --fix here to ensure developers see what would fail in CI

  # Ruff formatting - matches CI: make format-check (ruff format --check .)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff-format
        name: ruff format check

  # Type checking - matches CI: make type-check (mypy backend/src/ .github/scripts/)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        name: mypy type check
        files: ^(backend/src/|\.github/scripts/)
        additional_dependencies: [
          types-requests,
          pandas-stubs,
          types-openpyxl,
          pydantic>=2.0,
        ]

  # Security scanning - matches CI: make security (bandit -r backend/src/ .github/scripts/ -s B404,B603,B607)
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        name: bandit security scan
        args: [-s, B404,B603,B607]
        files: ^(backend/src/|\.github/scripts/)

  # YAML validation - matches CI: make check-yaml
  - repo: local
    hooks:
      - id: check-workflow-yaml
        name: check workflow YAML syntax
        entry: python
        language: system
        args: [-c, "import yaml; import sys; from pathlib import Path; [yaml.safe_load(f.read_text(encoding='utf-8')) for f in Path('.github/workflows').glob('*.yml')]"]
        files: ^\.github/workflows/.*\.yml$
        pass_filenames: false

      # i18n translation validation - validates JSON syntax, key parity, structure, and placeholders
      - id: validate-translations
        name: validate i18n translation files
        entry: python tools/validate-translations.py
        language: system
        files: ^frontend/src/i18n/locales/.*/translation\.json$
        pass_filenames: true

  # Prettier formatting for frontend files (local hook for ARM64 compatibility)
  - repo: local
    hooks:
      - id: prettier-frontend
        name: format frontend files with prettier
        entry: bash tools/run-prettier.sh
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        exclude: ^frontend/(node_modules|dist|dist-electron|build|release|coverage|package-lock\.json|tsconfig.*\.json)/
        pass_filenames: true

      # ESLint for frontend TypeScript/JavaScript files
      - id: eslint-frontend
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        types_or: [ts, tsx, javascript, jsx]
        files: ^frontend/
        exclude: ^frontend/(node_modules|dist|dist-electron|build|release|coverage)/
        pass_filenames: false

fix: establish consistent tile heights and spacing across all zoom levels
  frontend/src/components/grid/EmployeeTile.tsx
  frontend/src/components/grid/EmployeeTileList.tsx
  frontend/src/contexts/GridZoomContext.tsx
  frontend/src/theme/tokens.ts
Due: prettier-frontend, eslint-frontend

fix: add missing @tanstack/react-virtual dependency
  frontend/package.json
Due: prettier-frontend

fix: update file paths for Windows signing and installer generation
  .github/workflows/release.yml
Due: check-workflow-yaml

fix: add permissions for pull requests in performance check workflow
  .github/workflows/performance-check.yml
Due: check-workflow-yaml

fix: set dynamic base branch for documentation auto-update PRs
  .github/workflows/docs-auto-update.yml
Due: check-workflow-yaml

docs: auto-update screenshots for PR #274
  resources/user-guide/docs/images/screenshots/workflow/making-changes-orange-border.png
Due: none

fix: enable silent auto-updates and add comprehensive debugging
  .github/workflows/release.yml
  frontend/electron-builder.json
  frontend/electron/main/autoUpdater.ts
  frontend/electron/preload/index.ts
  frontend/src/components/update/UpdateDebugPanel.tsx
  frontend/src/types/electron.d.ts
Due: check-workflow-yaml, prettier-frontend, eslint-frontend

fix: correct UpdateNotificationBanner component name in App.tsx
  frontend/src/App.tsx
Due: prettier-frontend, eslint-frontend

fix: refactor docs auto-update to commit directly to PR branch
  .github/workflows/docs-auto-update.yml
Due: check-workflow-yaml

feat: implement floating notification banner for silent auto-updates
  frontend/src/App.tsx
  frontend/src/components/notifications/NotificationBanner.stories.tsx
  frontend/src/components/notifications/NotificationBanner.tsx
  frontend/src/components/update/UpdateNotificationBanner.tsx
  frontend/src/components/update/UpdateSimulator.tsx
Due: prettier-frontend, eslint-frontend

refactor: replace axios with fetch for health checks in backend communication
  frontend/electron/main/index.ts
  frontend/package-lock.json
  frontend/playwright/fixtures/worker-backend.ts
Due: prettier-frontend, eslint-frontend

feat: Implement auto-update system with silent downloads and notification UI (#276)
  .github/workflows/docs-auto-update.yml
  .github/workflows/release.yml
  frontend/electron-builder.json
  frontend/electron/main/autoUpdater.ts
  frontend/electron/main/index.ts
  frontend/electron/preload/index.ts
  frontend/package-lock.json
  frontend/playwright/fixtures/worker-backend.ts
  frontend/src/App.tsx
  frontend/src/components/notifications/NotificationBanner.stories.tsx
  frontend/src/components/notifications/NotificationBanner.tsx
  frontend/src/components/update/UpdateDebugPanel.tsx
  frontend/src/components/update/UpdateNotificationBanner.tsx
  frontend/src/components/update/UpdateSimulator.tsx
  frontend/src/types/electron.d.ts
Due: check-workflow-yaml, prettier-frontend, eslint-frontend

fix: improve release notes extraction and add debugging
  .github/workflows/release.yml
Due: check-workflow-yaml

feat: Implement scope-aware visual regression system (#275)
  .github/workflows/update-visual-baselines.yml
  .github/workflows/visual-regression-smart.yml
  agent-projects/issue-275/GLOBAL-CHANGE-WORKFLOW.md
  agent-projects/issue-275/IMPLEMENTATION-SUMMARY-275.md
  agent-projects/issue-275/README.md
  agent-projects/issue-275/TESTING-GUIDE-275.md
  frontend/package.json
  frontend/scripts/README-visual-scope.md
  frontend/scripts/analyze-visual-scope.ts
  frontend/scripts/update-visual-baselines-smart.ts
Due: check-workflow-yaml, prettier-frontend, eslint-frontend

feat: Add pre-commit hook to enforce documentation organization
  .pre-commit-config.yaml
  tools/hooks/check-root-docs.sh
Due: none

chore - documentation cleanup
  CHANGELOG.md
  agent-projects/dependency-optimization.md
  agent-projects/employee-search-implementation.md
  agent-projects/filter-unification-and-enhancement.md
Due: none

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: check-workflow-yaml

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: check-workflow-yaml

Update .github/workflows/claude-code-review.yml
  .github/workflows/claude-code-review.yml
Due: check-workflow-yaml

Update .github/workflows/claude.yml
  .github/workflows/claude.yml
Due: check-workflow-yaml

Add Claude Code GitHub Workflow (#278)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: check-workflow-yaml

Update frontend/scripts/update-visual-baselines-smart.ts
  frontend/scripts/update-visual-baselines-smart.ts
Due: prettier-frontend, eslint-frontend

Update frontend/scripts/analyze-visual-scope.ts
  frontend/scripts/analyze-visual-scope.ts
Due: prettier-frontend, eslint-frontend

Update .github/workflows/visual-regression-smart.yml
  .github/workflows/visual-regression-smart.yml
Due: check-workflow-yaml

Update .github/workflows/update-visual-baselines.yml
  .github/workflows/update-visual-baselines.yml
Due: check-workflow-yaml

Grant pull-requests: write permission to Claude Code Review workflow (#279)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: check-workflow-yaml

Document Claude Code workflow files in workflows README (#280)
  .github/workflows/README.md
Due: none

Fix heredoc variable expansion in visual regression workflow commit message (#283)
  .github/workflows/visual-regression-smart.yml
Due: check-workflow-yaml

Fix shell variable interpolation in visual regression commit messages (#284)
  .github/workflows/visual-regression-smart.yml
Due: check-workflow-yaml
